


@mixin greygrad { 
	$experimental-support-for-svg: true; 
	@include background(linear-gradient(#9e9e9d, #706f70));
	@include pie;

}
@mixin greygrad-inverted {
	$experimental-support-for-svg: true;
	@include background(linear-gradient(#706f70, #9e9e9d));
	@include pie;

}
@mixin widgetgrad { 
	$experimental-support-for-svg: true;
	@include background(linear-gradient(#000, #4d4d4d));
	@include pie;

}

@mixin prodwidgetgrad { 
	$experimental-support-for-svg: true;
	@include background(linear-gradient(#7a7a7a, #010101));
	@include pie;

}

@mixin expandergrad { 
	$experimental-support-for-svg: true;
	@include background(linear-gradient(#010101, #2e2e2e));
	@include pie;
}

.bg--grey {
	background:$bgGrey;
}

.bg--white {
	background:$white;
}


.grad--grey {
	 $experimental-support-for-svg:true;
	 @include background(linear-gradient(#fafafa, #d2d2d2));
		@include pie;

}


.grad--dark-grey {
	@include widgetgrad;
}

.body-grey {
	color:$bodyGrey;
}