.checkout-steps {
	li {
		text-transform: uppercase;

		&.current {
			a { color:$autoGlymColor; }
		}
	}
}

table.checkout {
	display: table; 
	 thead, tbody, th, td, tr { 
		display: block; 
	}
	caption {
		background-color : $bgGrey;
	}
}