

/* Logos ------------------ */
.logo--autoglym {
	width:40px;
	height:40px;
  	background: image-url('logo-small.png');
  	@include hide-text(left);
  	float:left;
}

.logos--royal {
	width:183px;
	height:83px;
  	background: image-url('royal-logos.png');
	margin-bottom:$baselineHeight;

	span {
		display: inline-block;
		position: absolute;
		@include hide-text(left);
	}

  	.svg & {
	 	background: image-url('royal-logos.svg');
	}

}

.faq-list {

		> li ul li {
			background: none !important;
		}

		> li ul {
			margin-top:0px !important;
			margin-bottom:$baselineHeight/3 !important;
			padding-top:0px !important;
			padding-bottom:0px !important;
		}

		a {
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px solid $white;
			}
		}

		> li > a {
			font-weight: 700;
		}

		> li {
			margin-bottom:$baselineHeight/3 !important;
			background:image-url('bg-arrow-expand.png') no-repeat 0px 5px !important;
		}

		
		> 
			li > ul {
				height:0;
				overflow: hidden;
				@include transition-property(height);
  				@include transition-duration(.5s);
			}
		

		.on {
			
			
				background-position:-709px 5px !important;
			

			> ul {
				height:auto;
				@include transition-property(height);
  				@include transition-duration(.5s);

			}
		}
}


.banner {

	@include rem('margin-bottom', $baselineHeight);
	@include clearfix; 

	.panel {
		@include rem('padding', 42px 24px 42px);
		@include box-sizing(border-box);
		position:relative;
	}
	
	.panel--right {
		@include rem('padding', 32px 24px 0);
		@include box-sizing(border-box);
		@include clearfix;
	}

	.logo {
		position:absolute;
		bottom:48px;
		right:$baselineHeight;
		width:68px;
		height: auto;
	}

	h1 {
		@include font-size(35);
		text-transform: none;
		@include rem('margin-bottom', $baselineHeight/3);
		@include rem('padding-bottom', 0px);

	}

	p {
		@include font-size(16);
		line-height: 1.5;

	
	}

	
	input[type="text"] {
		@include rem('padding-top', 10px);
		@include rem('padding-bottom', 10px);
	}

	.btn {
		@include font-size(18);
		@include rem('padding-top', 7.5px);
		@include rem('padding-bottom', 4px);
	}

	&.results {

		.grid--container {
			@include clearfix;
			@include rem('margin-bottom', $baselineHeight/2);
		}

		p {
	   		clear:both;
		}
		.panel {
			@include rem('padding', 11px 11px);

		}
		.panel--right {
			@include rem('padding', 11px 11px);
		}

		.logo {
			right:14px;
			bottom:14px;
		}
	}

}

.title--bay {
		@include font-size(25);
	}

.input-and-button {
	@include rem('margin-bottom', $baselineHeight);
	@include clearfix; 
	
	.widget--generic & {
		@include rem('margin-bottom', 0px);
	}

	.grid--half {
		&.alpha {
			width:61%;
			float:left;


		}
		&.omega {
			width:auto;
			float:right;
		}

		.btn {
			min-width: 108px;
		}

		.widget--generic & {
			.btn {
				min-width: auto;
			}
		}
	}

	.results & {
		
		.btn {

			min-width:93px;
	
		}
	}
}



.media--item {
	background-color:#fff;
	@extend #cms--content;
	@include rem('padding-bottom', $baselineHeight/2);

	#normal--content &,
	#cms--content &  {
		
		background:none;
				

		img {
			padding:0;
			margin:0 17px $baselineHeight/2 0;
			float:left;
		}

		ul, ol {
			margin-bottom: $baselineHeight/2;
		}

		i {
			float:left;
		}
	}
	
	.svg #normal--content &,
	.svg #cms--content & {
		
		background:none !important;
		
	}

	
	.media--image {
		width:19.23%;
		float:left;
	}

	

	.media--list & {
		background:none !important;
		padding-left:0 !important;
	}
	
	hr {
		display: inline-block;
		width: 100%;
	}

	.address & {

		.media--text {
			float:none;
			width:100%;
		}
		
		.info {
			@include font-size(18);
		}
		
		.media--image {
			display: none;
			width:14.23%;
		}
		
		#normal--content &,
		#cms--content & {

			img {
				margin:0 0 $baselineHeight/2 0;
			}

			.btn {
				margin-bottom: 0;
				float:right;
			}
		}
	}
	
}

.results-stats {
	line-height: 2.2;
}

.borders-top-bottom {
	border-top:1px solid $white;
	border-bottom:1px solid $white;
	@include rem('margin-top', $baselineHeight);
	clear:both;
	@include clearfix;
	width:100%;
	@include font-size(24);
	@include rem('min-height', 47px);
	@include rem('line-height', 37px);
	> * {
			display: inline-block;
		}

	i {
		@include rem('width', 35px);
		@include rem('margin-top', 3px);

		vertical-align: top;
		.lt-ie8 & {
			float:left;
		}
	}
	p {
		line-height:46px;
		margin-bottom: 0;

		.lt-ie8 & {
			margin-top:8px;
		}
	}
}

.results-list {
	@include clearfix;
	
	li {
		border-top:1px solid $white;
		@include rem('padding-top', $baselineHeight/2);
		@include rem('padding-bottom', $baselineHeight/2);

		#normal--content & {
			background:none !important;
			@include rem('padding-left', 0px);
			
		}
	}

	&.search {
		li {
			border-top:1px solid transparent;
		}

		.result-info {
			width:86%;
		}

		i {
			//display: none;
		}
	}

	i {
		clear:left;
	}

	.result-title {
		@include rem('margin-bottom', 0px);

		a {
			color:$bodyGrey !important;
			border-bottom:1px solid transparent !important;
			&:hover {
				border-bottom:1px solid $bodyGrey !important;

			}
		}
	}

	.title--matches {
		@include rem('margin-bottom', 10px);

	}

	hr.hr-solid {
		@include rem('margin-top', $baselineHeight/2);

	}
}


.search-results {
	@include clearfix;
	li {
		> * {
			@include inline-block(middle);
		}
		border-top:1px solid $white;
		@include rem('padding-top', $baselineHeight/2);
		@include rem('padding-bottom', $baselineHeight/2);
		
		&:first-child {
			border-top:1px solid transparent;

		}

		#normal--content & {
			@include rem('padding-left', 0px);

		}

		.svg & {
			background:none !important;
		}

		i {
			@include rem('margin-right', 14px);
		}
	}

	.search-result {
		@include font-size(20);
		margin:0;
	}
}

i.icon-product {
	background:image-url('icons-valeting-bay.png') no-repeat;
	@include rem('width', 73px);
	@include rem('height', 73px);
	@include rem('margin-right', 23px);
	@include rem('margin-bottom', $baselineHeight);

		float:left;

	display:inline-block;
}

i.icon-video {
	background:image-url('icons-valeting-bay.png') -73px 0 no-repeat;

	.svg & {
		background:image-url('icons-valeting-bay.svg') -144px 0 no-repeat;
	}

	@include rem('width', 72px);
	@include rem('height', 73px);
	@include rem('margin-right', 23px);
	@include rem('margin-bottom', $baselineHeight);

		float:left;

	display:inline-block;
}

i.icon-page {
	background:image-url('icons-valeting-bay.png') -144px 0 no-repeat;

	.svg & {
		background:image-url('icons-valeting-bay.svg') -144px 0 no-repeat;
	}

	@include rem('width', 72px);
	@include rem('height', 73px);
	@include rem('margin-right', 23px);
	@include rem('margin-bottom', $baselineHeight);

		float:left;

	display:inline-block;
}

i.icons {
	background:image-url('icons-categories.png') 0 0 no-repeat;
	@include rem('width', 58px);
	@include rem('height', 58px);
	display:inline-block;
	padding:0;

	.svg & {
		background-image:image-url('icons-categories.svg');
	}

	&.products {
		background-position: -58px 0;
	}

	&.images {
		background-position: -116px 0;
	}

	&.videos {
		background-position: -173px 0;
	}

	&.downloads {
		background-position: -231px 0;
	}


}

hr.hr-solid {
	border: 1px solid $white;
	border-left: 0px solid $white;
	border-top: 0px solid $white;
	border-right:0px solid $white;
	clear:both;
	background:none;


	.svg & {
		background:none;
	}
}

ul.bullets {
	
		@include rem('margin-top', $baselineHeight);
		li {
			text-align: left;
			background: image-url('bg-bullets.png') left 9px no-repeat;
			padding-left:$gutterWidth;

			.svg & {
				background: image-url('bg-bullets.svg') left 9px no-repeat;
			}
			
		}
	
}