.product-list {
	>
	li {
		background: none !important;
			
	}
	
		&.list-all {

			#normal--content & {
				@include rem('margin-top', 0px);
				@include rem('padding-top', 0px);
			}
		}
	
	.product-detail & {
		width:100%;
	}
}


.product-item {

		@include rem('margin-top', $baselineHeight);
		@include rem('padding-top', $baselineHeight/2);
		@include rem('margin-bottom', $baselineHeight);
		@include rem('padding-bottom', 0px);
	
		#normal--content .list-all & {
			@include rem('padding-left', 0px);

			@include rem('margin-bottom', 0px);
		
		}

		
		
		border-top:1px solid $white;
		border-bottom:0px solid $white;
		@include clearfix;
		
		.product-detail & {
			@include rem('margin-top', 0px);
			@include rem('padding-top', 0px);
			@include rem('margin-bottom', 0px);
			@include rem('padding-bottom', 0px);
			border-top:0px solid $white;
		}

		&:first-child {
			border-bottom:0px solid $white;
		}

	> * {
		@include inline-block;
	}
	
	.product-info {
		@include rem('margin-top', $baselineHeight/2);
		@include rem('padding-top', $baselineHeight/2);

		width:54%;
		float: right;
		
		@include rem('margin-bottom', $baselineHeight);
		@include rem('padding-bottom', $baselineHeight/2);

		
	}

	.total-stars {
		display: none;
	}

	.product-title {
		@include font-size(20);
		font-family:'LatoRegular', sans-serif;
		text-transform: none;
		@include rem('margin-bottom', 0px);
		
		 .list-all & {
			@include font-size(16);
		 }

		 .related-products & {
		 	color:$black;
		 }
	}



	.button-wrapper {
		
		float:right;
		width:50%;

	}

	#normal--content & {
		ul {
			@include rem('margin-top', 0px);
			
		}
	}

	
}

.ratings {
	@include rem('margin-bottom', $baselineHeight/2);
	
	#normal--content & {
	
	li {

			background: none;
			@include rem('padding', 0px);
			
			&.reviews {
				clear:both;
			}

			.svg & {
				background: none;
			}

			&.end {
				@include rem('margin-right', 10px);
			}
		}
	}



	i {
		color: $autoGlymColor;
		@include font-size(20);
		line-height: 1;
		@include rem('width', 20px);

		&.off {
			color:$bodyGrey;
		}
	}
	
	.product-detail & {
		margin:0px 0px $baselineHeight/2 !important;
		padding:0px !important;


	}

}

.product-preview {

	text-align:left;
	width:31%;
	
	
	
}

	.product-detail-image {
		margin:0 auto $baselineHeight*2;
	}

.price {		
	@include font-size(30);

	text-transform: none;
	font-weight: 800;

	.list-all & {
		@include font-size(22);
	 }

	 .product-detail & {
	 	@include font-size(22);
	 	margin-bottom: 0px;
	 }
}

.product-detail {
	input {
		width:48px;
	}

	label {
		text-transform:none;
		margin-right:8px;
		line-height: 31px;
	}
}

.product-preview {
	p {
	 display:none;
	 width:65%;

	}

	.product-thumbs {
		display:none;

	}

}

.basket-tools {
	fieldset {
			@include rem('line-height', 50px);
		> * {
			display: inline-block;
		}

		.drop-down {
			clear:left;
			@include rem('margin-bottom', 24px);

		}
	}
}

.borders-top-bottom {
	border-top:1px solid $white;
	border-bottom:1px solid $white;
	@include rem('margin-top', $baselineHeight);
	width:100%;
	@include font-size(24);
	@include rem('min-height', 47px);
	@include rem('line-height', 37px);
	> * {
			display: inline-block;
		}

	i {
		@include rem('width', 35px);
		@include rem('margin-top', 3px);

		vertical-align: top;
		.lt-ie8 & {
			float:left;
		}
	}
	p {
		line-height:46px;
		margin-bottom: 0;

		.lt-ie8 & {
			margin-top:8px;
		}
	}
}

.video-list {
	width: 190px;
	margin: 0 auto;

	li {
		position: relative;
		width:190px;
		@include rem('margin-bottom', $baselineHeight);
		text-align: center;

		&:hover {
			.video-link {
			
				border:1px solid $bodyGrey;
			
				.lt-ie8 & {
					border:1px solid transparent;
				}
			
			}

			.video-link-title {
			
				border-bottom:1px solid $bodyGrey;
				
				.lt-ie8 & {
					border:1px solid transparent;
				}
			}
		}
	}


	.video-link {
		position:absolute;
		display: block;
		width:100%;
		top:0;
		text-align: center;
		border:1px solid transparent;

		&:hover {
			border:1px solid $bodyGrey;
		}



	}
	
	.video-link-title {
		text-align:center;
		width: auto;
		@include rem('margin-top', 12px);
		display: inline-block;
		border-bottom:1px solid transparent;
		
	}
}

.review {
	@extend #cms-content;
	@include rem('margin-bottom', $baselineHeight);
	
	
		
}


.header--footer {
			.lt-ie8 & {
			margin-right: 75px;
			}
		}
.expand {
	
	text-transform:uppercase;
	&:hover {
		border-bottom:1px solid $white;
	}

	@extend a.drop;
}