.widget, .widget--fags {
	border:1px solid $borderColor;
	margin-left: 1px;
	@include rem('margin-bottom', $baselineHeight);
	@extend #cms--content;
	position:static;
	z-index:1;
	.widget-content {
		@include rem('padding', 28px 22px);
		@include widgetgrad;
		
	}

	h2 {
		color:$autoGlymColor;
		@include font-size(18);
		font-weight: normal;
		@include rem('margin-bottom', $baselineHeight);
		@include rem('line-height', $baselineHeight);

	}


	.product {

		img {
			float:left;
			@include rem('margin-right', 20px);
			@include inline-block;
			width:auto;
		}

		h3 {
			@include inline-block;
			width: 72%;
			@include rem('margin-top', 10px);
			@include font-size(16);
			font-weight: 700;
			text-transform: none;
			color:$white;
		}

		.price {  
			color:$priceColor;
		}

		.btn {
			float:none;
			clear:left;
		}
	}

	.btn {
		@include rem('padding', 0 10px);
	}


}

//_widget--product ======== */

.widget--product {
	@include prodwidgetgrad;
	width:100%;
	@include rem('margin-bottom', $baselineHeight);
	@include clearfix;

	.widget-content {
		@include rem('padding', 17px 22px 18px);
		@include box-sizing(border-box);
		@include clearfix;
		@include rem('height', 260px);

		position: relative; 
		.steps-list {
		
		
			@include rem('padding-top', 0px);
			@include rem('margin', 0px 0px $baselineHeight/2);
		
		}

		li {
			background: none;
			@include rem('padding', 0px);

			.svg & {
				background: none;
				@include rem('padding', 0px);

			}
		}
	}

	img {
		@include rem('margin', 0 0 $baselineHeight/2);
	
		position:absolute;
		bottom:0;
		right:13px;
	}

	.grid--half {
		width:50%;
	}

	@extend #cms--content;
	
}

.widget--title-image-para {
	border-bottom:1px solid $white;
	@include rem('margin', $baselineHeight);
	margin-left:auto;
	margin-right:auto;
	@include rem('padding-bottom', $baselineHeight/2); 
	display:block;
	
	@extend #cms--content;
	p {
		@include font-size(18);
		text-align:center;
		font-weight:300;
	}

	&.grid--one-third {
		@include rem('width', 300px);

	}
}

.widget--image {
	@include prodwidgetgrad;
	width:100%;
	@include rem('height', 185px);
	@include rem('margin-bottom', $baselineHeight/2);
	@include clearfix;
	display:inline-block;
	text-align:center;
	border-bottom:0px solid transparent !important;

 	img {
 		position:relative;
 		margin:0 auto;
 		height: auto;
 	}
}


.widget--expander {
		@include expandergrad;
		@include rem('margin-bottom', $baselineHeight);
	.widget-content {
		@include rem('padding', 23px 33px 13px);
		@include clearfix;
		position: relative;
	}
	
	.expander-content {
		height:0;
		overflow: hidden;
		@include clearfix;
		@include transition-property(height);
  		@include transition-duration(.5s);
		&.on {
			height:auto;
			@include transition-property(height);
  			@include transition-duration(.5s);
		}
		
		&.on-perm {
			height:auto;
			.lt-ie8 & {
				.video-list {
					visibility:visible;
				}
			}
		}

	}

	hr {
		width:100%;
		@include rem('margin-top', $baselineHeight/2);
		.lt-ie9 & {
			clear: both;
		}
	}

	.structure--main-column {
		min-height: auto;
	}
	
	.lt-ie8 & {
		.video-list {
			visibility: hidden;
		}
		
		.on {
			.video-list {
				visibility: visible;
			}
		}

		.grid--two {
			float:right;
			margin-top: -27px;
		}
	}
}

.widget--faqs {
	@extend .widget;

}

.related-products {
	> * {
		color:black;
	}
}