.widget {
	border:1px solid $borderColor;
	margin-left: 1px;
	@include rem('margin-bottom', $baselineHeight);
	@extend #cms--content;
	position:static;
	z-index:1;
	.widget-content {
		@include rem('padding', 28px 22px);
		@include widgetgrad;
		
	}

	h2 {
		color:$autoGlymColor;
		@include font-size(18);
		font-weight: normal;
		@include rem('margin-bottom', $baselineHeight);
		@include rem('line-height', $baselineHeight);

	}


	.product {

		img {
			float:left;
			@include rem('margin-right', 20px);
			@include inline-block;
			width:auto;
		}

		h3 {
			@include inline-block;
			width: 72%;
			@include rem('margin-top', 10px);
			@include font-size(16);
			font-weight: 700;
			text-transform: none;
			color:$white;
		}

		.price {
			color:$priceColor;
		}

		.btn {
			float:none;
			clear:left;
		}
	}

	.btn {
		@include rem('padding', 0 10px);
	}


}