<aside class="widget clearfix">
	<div class="widget-content clearfix">
		<h2>PRODUCT OF THE MONTH</h2>
		<div itemscope itemtype="http://data-vocabulary.org/Product" class="product">
			<meta itemprop="currency" content="GBP" />
			<meta itemprop="brand" content="Autoglym" />
			<meta itemprop="category" content="Car Wash Solutions" />
			<img itemprop="image" src="img/widget-product.png" alt=""/>
			<h3 itemprop="name">Bodywork Shampoo Conditioner</h3>
			<h3 class="price">£<span itemprop="price">5.99</span></h3>
			<a href="#" class="btn">buy</a>
		</div>
	</div>
</aside>