<footer class="structure--wrapper footer inner-footer clearfix">
    <div class="breadcrumb--wrapper bg--grey">
        <nav class="nav--breadcrumb structure--content inline-list">
            <a href="#">Home<i class="icon-angle-right"></i></a>
            <a href="#">About us<i class="icon-angle-right"></i></a>
            <a href="#">Our heritage</a>
        </nav>
    </div>
    <div class="structure--wrapper">
        <div class="structure--content">
            
             <div class="grid--container address--details">
                <div class="grid--container">
                <h4 class="header--footer ipad">Follow us</h4>
                <ul class="social-icons">
                    <li class="fb"><a href="#" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="#" title="Twitter">Twitter</a></li>
                    <li class="yt" title="You Tube"><a href="#">You tube</a></li>
                </ul>
                <hr class="max-desktop">
            </div>
                 <ul class="footer-links">
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy and Cookies</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Contact us</a></li>
                 </ul>
                 <hr class="max-desktop">
            </div>
            <div class="grid--container inline-list logos">
               <div class="logos--royal">
                    <img src="img/spacer.gif" alt=""/>
                    <span>Royal Seal logos</span>
                </div>
                <div class="logo--made-in-gb">
                     <img src="img/logo-made-in-gb.png" alt="Made in Great Britain">
                </div>
                <div class="logo--wrapper inline-list">
                    
                    <a href="#" title="Autoglym" class="logo--autoglym">
                        Autoglym &trade;
                    </a>

                    <h2 class="title--strap">Passion <em>for</em> Perfection</h2>
                
                </div>
            </div>
    </div>

</footer>