
<div class="header--wrapper landing-page clearfix" role="navigation">
    <header class="header structure--content inline-list">
        <div class="logos--royal desktop">
            <img src="img/spacer.gif" alt=""/>
            <span>Royal Seal logos</span>
        </div>
        
        <h2 class="title--strap">Passion <em>for</em> Perfection</h2>
        
        <a href="#" title="Autoglym" class="logo--autoglym">
            Autoglym &trade;
        </a>
    
        
    
    </header>

    <nav class="mobile--nav-icons bg--grey">
        <div class="icons">
            <a id="search-link" class="search" href="#"></a>
            <a id="main-nav-link" class="nav" href="#"></a>
            <a id="language-link" class="language" href="#"></a>
            <a class="basket" href="#"></a>
        </div>
    </nav>

    <div id="main-nav-wrapper" class="nav--wrapper clearfix bg--grey">
        <nav id="main-site-nav" class="nav--site ipad bg--grey clearfix structure--content">
            
        </nav>

    </div><!-- end #main-nav-wrapper -->

    <div id="search-field" class="structure--wrapper search-field">
        
    </div><!-- end .search -->
</div><!-- end .header-wrapper -->