
<div class="header--wrapper clearfix" role="navigation">
    <header class="header structure--content inline-list">
        <div class="logos--royal desktop">
            <img src="img/spacer.gif" alt=""/>
            <span>Royal Seal logos</span>
        </div>
        
        <h2 class="title--strap">Passion <em>for</em> Perfection</h2>
        
        <a href="#" title="Autoglym" class="logo--autoglym">
            Autoglym &trade;
        </a>
    
        <nav class="nav--top">
            <a id="ipad-drop-link" class="drop ipad" href="#" title="Select Country"><span>Select Country</span>
            
            </a>
            <div id="ipad-drop" class="nav--language-drop">
                <a href="#" class="home" title="Country">Country</a>
                <a href="#" class="home" title="Country">Country</a>
                <a href="#" class="home" title="Country">Country</a>
                <a href="#" class="home" title="Country">Country</a>
                <a href="#" class="home" title="Country">Country</a>    
            </div>
            <a class="break ipad" href="#" title="Professional"><span>Professional</span></a><br class="ipad"/>
            <a class="no-border ipad" href="#" title="Login/Setup"><span>Login/Signup</span></a>
            <a class="basket ipad" href="#" title="Basket"><span>Basket (0) £00.00</span></a>
            <a href="#" class="ipad" title="Checkout"><span>Checkout</span></a>
        </nav>
    
    </header>

    <nav class="mobile--nav-icons bg--grey">
        <div class="icons">
            <a id="search-link" class="search" href="#"></a>
            <a id="main-nav-link" class="nav" href="#"></a>
            <a id="language-link" class="language" href="#"></a>
            <a class="basket" href="#"></a>
        </div>
    </nav>

    <div id="main-nav-wrapper" class="nav--wrapper clearfix bg--grey">
        <nav id="main-site-nav" class="nav--site ipad bg--grey clearfix structure--content">
            <a href="#" class="home" title="Home">Home</a>
            <a href="#" title="About Us">About Us</a>
            <a href="#" title="Shop online">Shop online</a>
            <a href="#" title="Help and advice">Help and advice</a>
            <a href="#" title="News">News</a>
            <a href="#" title="Find a stockist">Find a stockist</a>
            <a href="#" title="Contact us">Contact us</a>
            <a class="max-ipad" href="#" title="Login/Signup">login/signup</a>
            <a class="max-ipad" href="#" title="Professional">Professional</a>
        </nav>

        <nav id="language-nav" class="nav--site nav--language max-ipad bg--grey clearfix structure--content">
            <a href="#" class="home" title="Country">Country</a>
            <a href="#" class="home" title="Country">Country</a>
            <a href="#" class="home" title="Country">Country</a>
            <a href="#" class="home" title="Country">Country</a>
            <a href="#" class="home" title="Country">Country</a>
        </nav>
    </div><!-- end #main-nav-wrapper -->

    <div id="search-field" class="structure--wrapper search-field">
        <form class="structure--content" action="post">
            <div>
                <input class="grad--grey pie-element" type="text" placeholder="Search Site"/>
                <input type="submit"/>
            </div>
        
        </form>
    </div><!-- end .search -->
</div><!-- end .header-wrapper -->