<section class="nav--second-level">
    <div class="structure--content">
        <div class="sub-title-and-nav">
            <h3 class="header--section-title">Products</h3>
            <a id="sub-nav-link" href="#" class="icon--sub-nav">Sub Nav</a>
            <nav id="sub-nav" class="bg--grey has-no-subsections">
                <ul>
                    <li class="selected">
                        <a href="#" title="sub section">sub section</a>
                        <ul>
                            <li><a href="#" title="sub section">sub section</a></li>
                            <li><a href="#" title="sub section">sub section</a></li>
                            <li><a href="#" title="sub section">sub section</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="sub section">sub section</a></li>
                </ul>
               
            </nav>
        </div>
    </div>
</section>