// _widgets 

.widget {
	
	.product {
		h3 {
			width: 83%;
		}
		.btn {

		}

	}
}

// CMS content ============ //
#cms--content {
	img {
		width:auto;
	}
}


//_products ======== //

.product-item {

	.product-info {

		width:77%;
	
		.product-detail & {

			width:67%;
		}
	}



}