//_structure =================== //
.nav--wrapper {
	@include rem('padding', 12px 0 10px 0);
	@include rem('margin-bottom', 12px);

}

.structure--mainarea {
	@include rem('margin-top', 0px);
	@include clearfix;

	&.product-detail {
		overflow: visible;
	}
}

.structure--content {
	&.black-offset {
		@include rem('width', 730px);
		@include rem('height', 18px);
		background-color:$black;
		@include rem('margin-top', -46px);
		position: relative;
		z-index: 100;
	}

	&.homepage {
		@include rem('margin-top', -43px);
	}
}

.header--wrapper {
	position:relative;
}

.header {
	height:106px;
	position:relative;
	@include box-sizing(border-box);
}

.structure--side-column {
	display:inline-block;
	float:left;
	width:24.58%;

	.product-detail & {
		width:19.78%;
		margin-left:1px;
	}

	.lt-ie8 & {
		
		margin-right:50px;
		display: inline;
		zoom:1;
		vertical-align: top;
	}
}

.structure--main-column {
	width:70.31%;
	float:right;
	.product-detail > & {
		width:60.12%;
		position: relative;
		z-index: 2;
		border:1px solid transparent;
		@include clearfix;
		
		.lt-ie9 & {

		}
	}

	.lt-ie8 & {
		display: inline;
		zoom:1;
		width:69%;
		vertical-align: top;
	}

	&.grid--half {
		width:62%;
	}
}

.structure--widget-holder {
	float:left;
	clear:left;
	width:24.58%;
	
}

.grid--half {
	width:45.62%;
	.grid--holder & {
		width:47.62%;
	}
	
	.form--container & {
		width:48.62%;
	}

	.lt-ie8 & {
		width:46.62%;
	}

	.reviews-list & {
		width:48.62%;
	}

	.form-wrapper & {
		width:48%;
	}

	.related-products > & {
		width:49%;
		margin-bottom: $baselineHeight;
	}
}

.grid--one {
	float:left;
}

.grid--two {
	float:right;
}

.grid--two-thirds {
	width:61.82%;
}

.grid--thirds {
	.grid--one-third {
		width:36.45%;
	}
}

.grid--inline {
	> * {
		@include inline-block(top);
		@include box-sizing(border-box);
	}	
}


// _page ======================= //
.header--wrapper {

	.logo--autoglym {
		float:none;
		width:81px;
		height:81px;
	  	background: image-url('logo.png');
	  	border:0;
	  	@include rem('margin-top', 4px);
	}

	.title--strap {
		display:none;
	}
}

.banner {
	.grid--one-third {
		width:33.54%;
		float:left;
	}
	
	.grid--two-thirds {
		width:66.4%;
		float:right;
	}

	.panel {
		height:320px;
		@include rem('padding', 42px 24px 49px);
	}

	.panel--right {
		width:100%;
		height:320px;
		@include rem('padding', 32px 24px 0);
	}

	h1 {
		@include font-size(32);
	}

	p {
		@include rem('margin-bottom', 39.5px);

	}

	&.results {
		@include rem('margin-bottom', $baselineHeight*2);
		.panel {
			height:230px;
			@include rem('padding', 30px 24px 14px);

			
		}
		.panel--right {
			height:230px;
			@include rem('padding', 22px 34px);

		}

		.logo {
			right:14px;
			bottom:14px;
		}
	}

	

}

.input-and-button {
	
	.grid--half {
		&.alpha {
			width:72%;
			float:left;

			.widget--generic & {
				width:68%;
			}
		}
		&.omega {
			width:auto;
			float:right;

		}

		.btn {
			min-width: 108px;
		}
	}
}

.media--list.address {

	#normal--content & {
			@include rem('margin-top', 0px);

	}
	@include rem('margin-bottom', $baselineHeight);
	@include clearfix;
}

.media--item {

	.media--text {
			width:74.25%;
			float:right;
		}

	.address & {
		border-top:1px solid;
		@include rem('padding-top', $baselineHeight/2);
		@include rem('margin-top', $baselineHeight/2);
		@include rem('padding-bottom', 0px);
		@include rem('margin-bottom', $baselineHeight/2);
		@include clearfix;

		.media--text {
			float:left;
			width:61.25%
		}

		.media--image {
			display: inline-block;
			width:15.23%;
		}
		
		#normal--content &,
		#cms--content & {

			img {
				margin:0 0 $baselineHeight/2 0;
			}
		}

		.info {
			@include font-size(13);
		}

		p {
			margin-bottom: 0;
		}
	}
}

// _navigation ======================= //

.nav--top {
	@include rem('width', 388px);
	@include rem('margin-top', 25px);
	float:right;
	text-align:right;
	@include font-size(12.5);
	position:relative;

	.break {
		clear:both;
	}

	a  {
		line-height: 1;
		display: inline-block;
		@include rem('margin', 0 5px);
		
		&:first-child {
			span {
				border-left:1px solid transparent;
				@include rem('padding-left', 36px);
			}
		}
	
		span {
			border-left:1px solid $bodyGrey;
			@include rem('padding-left', 13px);
			line-height: 1;
			position:relative;
		}
		
		&.basket {
			span {
				@include rem('padding-left', 36px);
			}
		}

		&.no-border {
			span {
				border-left:0px solid transparent;	
			}
		}
		
		&.drop {
			background:image-url('icon-arrow-down.png') 13px 0 no-repeat;
			position: relative;
			.svg & {
				background:image-url('icon-arrow-down.svg') 13px no-repeat;
			}
			
		}
	}

}


.nav--top {
	> * {
		@include inline-block(middle);
	}
}

.nav--site {
	text-transform:uppercase;
	@include font-size(14);
	letter-spacing:1px;
	text-align:center;
	height:27px;
	


	a {
		display:inline-block;
		@include font-size(14);
		@include rem('padding',0 10.5px);
		background:none !important;
		@include rem('margin-top', 0px);
		
		&.home {
			display: none;
		}
	}
}

.nav--language-drop {
	position:absolute;
	z-index:2000;
	background:$black;
	right:109px;
	top:20px;
	display:none;
	@include rem('width', 240px);
	@include rem('padding', $baselineHeight/4);
	
	@include transition-property(display);
  	@include transition-duration(.5s);

	&.on {
		display: block;
		@include transition-property(display);
  		@include transition-duration(.5s);
	}
	
	a {
		display: block;
		@include rem('padding', 7px 0);
		background:image-url('bg-dotted-line.png') repeat-x 3px bottom;
		text-align:right;

		.svg & {
			background:image-url('bg-dotted-line.svg') repeat-x 3px bottom;
		}

		&:last-child {
			background:none;
		}
	}
}

.sub-title-and-nav {
	position:absolute;
	z-index:1000;
	width:70%;
	
	nav {
		background:transparent;
		@include rem('margin-bottom', 0px);
		text-transform: none;
		
		.selected {
			background:image-url('bg-nav-selected.png') no-repeat center bottom;
		}
		
		&.has-no-subsections {
			>
			ul {
				display: none;
			}
			
		}

		> ul > li a {
			@include font-size(13);
			@include rem('margin-right', 0px);
			background: none;

			.svg & {
				background: none;
			}
		}


		li {
			display: inline-block;
			
		
			ul {
				display: none;
			}



			.lt-ie8 & {
				display: inline;
				zoom:1;
			}
		}
	}
}



.nav--second-level {
	@include rem('height', 47px);
	border-bottom:2px solid $grey;
	@include rem('margin-top', -5px);
	@include rem('margin-bottom', $baselineHeight*2);
	
	nav {
		display: inline-block;
		height:auto;
		li {
			@include rem('margin-right', 24px);
		}
		.lt-ie8 & {
			display: inline;
			zoom:1;
		}

		a {
			&:hover {
				background:image-url('bg-nav-selected.png') no-repeat center bottom !important;
				color: $white;
			}
		}
	}
}

.nav--sub-nav {
	@include rem('padding', 20px $gutterWidth $baselineHeight);
	> ul {
			@include rem('padding-top', 2px);
			@include rem('margin-bottom', 60px);
			//border-top:1px solid $navBorder;
			
			li {
				background:image-url('bg-arrow-right.png') 0 4px no-repeat;
				@include rem('padding-left', 15px);

				.svg & {
					background:image-url('bg-arrow-right.svg') 0 4px no-repeat;
				}

				&:hover {
					.no-touch & {
						background-position:-250px 4px;
					}
				}
				
				ul {
					li {
						.svg & {
							background:none;
						}

						&.selected {
							background:image-url('bg-arrow-right.png') -250px 4px no-repeat;

							.svg & {
								background:image-url('bg-arrow-right.svg') -250px 4px no-repeat;
							}
						}
					}
				}

				&.selected {
					background:image-url('bg-arrow-down.png') 0 7px no-repeat;

					.svg & {
						background:image-url('bg-arrow-down.svg') 0 7px no-repeat;
					}

					> a {
						color:$white;
					}

					> ul {
						@include rem('margin-left', 0px); 
					}
				}
			}

			
		
			ul {
				margin-left: $gutterWidth;
			}
	}

	a {
		color:$bodyGrey;
		
			&:hover {
				color:$white;
			}

	}

	.single-nav-item {
		@include rem('padding-top', $baselineHeight/2);
		@include rem('margin-bottom', 0px);
		border-top: 1px solid $white;
	}
}

.mobile--nav-icons {
	display:none;
}

.icon--sub-nav {
	display:none;
}

.search-field {
	background:transparent;
	position:absolute;
	@include rem('height', 58px);

	@include transition-property(none);
  	@include transition-duration(0s);

  	&.on {
  		@include transition-property(none);
  		@include transition-duration(0s);
  	}

	div {
		@include rem('width', 205px);
		position: relative;
		float:right;

	}

	form {
	}

	input {
		@include rem('width', 205px);
		float: right;
	
		.lt-ie8 & {
			width: 180px;
			position:relative;
			right:35px;
		}

	}

	input[type="submit"] {
		display:block;
		background: image-url('icon-search.png') no-repeat;
		border:0;
		@include rem('width', 16px);
		@include rem('height', 16px);
		@include hide-text(left);
		text-transform: uppercase;
		font-size: 0;
		position:absolute;
		right:6px;
		top:7px;
		
		.lt-ie8 & {
			right:45px;
		}

	}
}

// _products ================== //


.product-item {
		border:0;
	
	.product-image {
		float:left;

		.product-detail & {
			width:auto;
		}
	}

	.product-info {
		@include rem('margin-top', $baselineHeight/2);
		@include rem('padding-top', $baselineHeight);
		width:55%;
		border-top:1px solid $white;
		border-bottom:1px solid $white;
		
		@include rem('margin-bottom', $baselineHeight);
		@include rem('padding-bottom', $baselineHeight);
		.list-all & {
			width:52%;
		}
		
		.product-detail & {
			width:60.12%;
			float:right;
			@include rem('margin-top', 0px);
			@include rem('padding-top', 0px);

			border-top:0px solid $white;
			border-bottom:0px solid $white;
		
			
		}
		
		

	}

	
	.button-wrapper {
		width:70%;
		float:right;
	}

}

	h1.product-title {
			.product-detail & {
				font-size:24px !important ;
			}
	}
	
	.ratings {
		margin-top: 0rem !important;
		margin-top:0px !important;
		margin-bottom:$baselineHeight !important;
	
	}

.related-products {
	.product-info {
		.product-detail & {
			width:85%;
			margin-bottom: 0;
		}
		
		.ratings {

		}
	}
}

.product-preview {

	.product-thumbs {
		@include clearfix;
		display:block;
		text-align:left;
		margin-left:1px;
		li {
			@include inline-block(top);
			@include rem('width', 65px);
			@include rem('height', 65px);
			border: 1px solid $white;
		}
	}

	p {
		text-align: left;
		margin-bottom:$baselineHeight/2;
		padding:0;
		border-bottom: 1px solid $white;
		display: block;
		width:100%;
	}


}

.product-detail {
	.back-link {
		position: relative;
		top:-$baselineHeight;
	}

	.grid--one {
		width:32.5%;
	}
}


.product-detail-image {
	margin:0 auto $baselineHeight*2 $baselineHeight;

	.product-detail & {
		margin:0 0 $baselineHeight*2 0;
	}
}

.product-information {
	//@include rem('min-height', 209px);
}

.basket-tools {
	fieldset {

		> * {
			@include inline-block(top);
		}
	}
	.drop-down {
		margin:3px 8px 0 8px;

	}
}

.video-list {
	width: auto;
	margin:1px 0px 0px 1px;
	li {
		position: relative;	
		@include inline-block(top);
		margin-right:4.2%;
		width:21.73%;
		float:left;

		&:last-child {
			@include rem('margin-right', 2px);
			float: right;
		}
	}
	
}

.results-list {
	li {
		position:relative;
		margin-top: 1px;
		@include rem('padding-top' , 10px);
		@include clearfix;
	}
	.results-link {
		position:absolute;
		right:0;
		top:13px;
		text-transform: uppercase;
		line-height: 1.5;

		&:hover {
			border-bottom:1px solid $white;
		}
	}

	.hr-fullwidth {
		width:100%;
		margin-top:10px;
	}
	
	
	.search & {
		i {
		 //display:inline-block;
		}
	}
	

	.result-info {
		float:right;
		width:87%;

		&:last-child {
			margin-bottom: $baselineHeight/2;
		}


	}

	.grid--half {
		width:41.62%;

		.result-info {
			width:100%;
		}
	}

	.title--matches {
    	font-weight:300;
    	color:$autoGlymColor;
    	text-transform: uppercase;
    	@include font-size(18);
    	letter-spacing: 0px;
		@include rem('margin', 3px 0px 0px);
	}

}

// _element =================== //

//* _headers =================== //

.header--section-title {
	border-bottom:0;
	width:auto;
	vertical-align:top;
	margin-top:3px;
}

.title--results {
    font-weight:500;
    color:$autoGlymColor;
    text-transform: none;
    @include font-size(30);
    letter-spacing: 0px;
}





// _footer ==================== //

.sign-up {

	label {
		width:26.58%;
		display:inline-block;
		@include rem('line-height', 34px);
		
	
	}
	input[type="text"] {
		width:61.8%;
		margin-right:3px;
	}
	
	input[type="submit"] {
		width:10.41%;
	}

}

.footer hr {
	margin:$baselineHeight/2 0;
}

	


.social-icons {
	display:inline-block;
	vertical-align:middle;
	width:auto;
}

.footer-links {
	width:100%;
	text-align:center;

	li {
		display:inline-block;
		margin:0 4.5%;
		.lt-ie8 & {
			display: inline;
			zoom:1;
		}

	}
}

.footer {

	.logos {
		text-align: center;
	}

	.logo--wrapper {
		display:inline-block;
		float:right;
	}


	.logos--royal {
		display:inline-block;
		float:left;
	}

	.logo--made-in-gb {
		display: inline-block;
		@include rem('margin-top', 14px);
	}

}

//_widgets =========================== //

.widget {
	text-align:center;
	.product {
		img {
			float:none;
			margin:0 auto $baselineHeight/2;
			display: block;
		}

		h3 {
			width:100%;
		}
	}
	
	.btn {
		float:none;
	}
}

.widget--product {
		@include rem('height', 260px);
		@include rem('margin-bottom', $baselineHeight*2);
		position: relative;
		overflow: visible;
		&:after {
			content:'';
			background:image-url('bg-widget-shadow.png');
			width:100%;
			@include rem('height', 43px);
			position: absolute;
			bottom:-45px;
			display: block;
		}

		.widget-content {
			position:relative;
			overflow: hidden;
			@include rem('height', 210px);

		}

		img {
			position:absolute;
			bottom:-50px;
			right:13px;
		}

		.steps-list {
			li {
				display:inline-block;
			}
		}
}

.widget--image {
	overflow:visible;
	@include rem('width', 300px);
	@include rem('margin-right', 20px);
	vertical-align:middle;

	display:inline-block;
	float:left;

	&:after {
			content:'';
			background:image-url('bg-widget-shadow.png');
			width:100%;
			@include rem('height', 43px);
			position: absolute;
			bottom:-45px;
			display: block;
		}


}


.widget--title-image-para {
	border-bottom:0px solid;
	text-align:left;
	float:left;
	clear:both;

	&.grid--one-third {
		width:100%;
	}

	p {
		display: inline-block;
		width: 49%;
		text-align: left;
		vertical-align: middle;
	}
}

.widget--expander {
	.expand,
	.top-right-link {
		position:absolute;
		top:$baselineHeight;
		right:37px;
	}

	.structure--main-column {
		width:79.31%;
		min-height: auto;
	}
}

.widget--faqs {
	.widget-content {
		min-height: 236px;
	}
}



.title--widget {
  @include font-size(18);
  font-weight:500;
  text-align:left;
}

// _forms =============== //
.form--top-right {
	position:absolute;
	top:$baselineHeight/2;
	right:$baselineHeight/2;
}

.form-errors {
	
	h3 {
		width:92%;
	}

}

.form-list {
	
	li {

	}

	&.radio-group {
		li {
			clear:none;
			@include inline-block(top);
			width:31.25%;
		}
		
		input[type="radio"] {
			float:left;
			margin-top:8px;
			margin-right:5px;
		}
	}
	&.landing-page {
		width:71.4%;
		
		p {
			margin-bottom: 0;
			width:93%;
			float:none;
		}
		
	}

	&.credit-card {
		ol {
			@include clearfix;
		}
		input[type="radio"] {
			float:left;
			margin-top:8px;
			margin-right:5px;
		}

		input[type="text"]{
			width:324px;
			margin-right:10px;
			
		}
		
		li { 
			
			line-height: 32px;
			margin-right:0.6%;
			@include clearfix;
			&.card {
				width:378px;
				float:none;
			}

			&:first-child {
				width:auto;
			}
		}
	}

}

// _cms-content ========== //
#normal--content,
#cms--content {

h1 {
		@include font-size(20);
	}

h4 {
		@include font-size(18);
		font-weight: normal;
	}
}

//_sliders ===================================== //

.slider--with-panel {
	
	h2 {
		@include font-size(60);
	}
	
	.title--slide-large {
		@include font-size(42);
		display: block;
	}
	
	p {
		@include font-size(20);
	}

}

.slider--large {
	@include rem('margin-top', $baselineHeight*1.5);

	.title--slider-large {
		@include font-size(35);
		letter-spacing: 3.5px;
		line-height: .9;
		font-weight: 300;

		span {
			@include font-size(88);
			letter-spacing: -1px;
			font-weight: 500;
		}
	}

	p {
		position: absolute;
		z-index: 10000;
		top:145%;
		@include font-size(19);
		letter-spacing: 2px;
	}

	.slider-link {
		bottom:100px;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0);
		border-bottom:1px solid transparent;
		&:hover {
			border-bottom:1px solid $white;
		}
	}

	.structure--content {
		@include rem('width', 720px);
	}

	.slide {
		max-height: 631px;
		overflow: hidden;
		position:relative;
	}

	.slide-text {
		top:10%;
	}

}

.rsBullets {
	@include rem('width', 720px);
	@include rem('padding-left', 10px);
	text-align: left;
	left:13px;
	top:-50px;
}


.widgets--inline {
	@include rem('width', 635px);
	margin-left: auto;
	margin-right: auto;
}

.view-all {
	position:absolute;
	top:22px;
	right:$gutterWidth;
	text-transform:uppercase;

	#normal--content & {
		border-bottom:1px solid transparent;

		&:hover {
			border-bottom:1px solid $white;
		}
	}
}

.checkout-steps {
	width:100%;
	
	li {
		@include inline-block(top);
	}

}

// _checkout ======================== //
.checkout-steps {
	li {
		text-align: center;
		width:19.65%;
		background-color:$bgGrey;
		padding:8px 0;
		position:relative;
		overflow: visible;
		@include font-size(12);

		&:after {
			content:'';
			background:image-url('checkout-arrow.png');
			width:20px;
			height:37px;
			display: block;
			position:absolute;
			top:0;
			right:-19px;
			z-index:100;

			.lt-ie9 & {
				display: none;
			}
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		&.current {
			background-color:$autoGlymColor;
			&:after {
				background:image-url('checkout-arrow-selected.png');
			}
			a {
				color:$white;
			}
		}
	}
}

table.checkout {
	display:table;
	border-collapse:collapse;
	line-height:1;

	th, td { 
		display: table-cell; 
		@include box-sizing(border-box);
		.ie9 & {
			float:none;
			clear:none;
			width:auto;
		}
	}

	tbody {
		display:block;
	}

	tr {
		display:block;
	}

	td {
		border:0;
		float:left;
	}


	
	h6 {
		margin-bottom: 0;
		@include font-size(13);

		&.table-title {
			margin-bottom: $baselineHeight/2;
		}

	}
	
	caption {
		padding-bottom:18px;
		margin:15px 25px 0;
		@include font-size(30);
		font-weight: 300;
		border-bottom:1px solid $white;
		.ie9 &,
		.lt-ie9 & {
			margin:0;
		}
	}

	tbody {
		padding-bottom:18px;
		margin:0 25px 0;
	}

	&.four-cols {
		td {
			width:25%;
			.ie9 & {
				float:left;
				clear:none;
				width:25% !important;
			}
		}

		&.basket-info {
			td {
				&:first-child {
					width:59.25%;
					&.actions {
						width:100%;
					}
				}

				&.gap {
					border-top:0px dotted $bodyGrey;
					padding-top:$baselineHeight/2;
				}

				&.actions {
					width:100%;
				}

				width:13%;
			}
		
			&.your-basket {
				td {
					&:first-child {
						width:49.25%;
						&.actions {
							width:100%;
							padding-right:0;
						}

						.ie9 & {
							float:left;
							clear:none;
							width:49.25% !important;
						}
					}
					width:16%;

					.ie9 & {
							
							width:16% !important;
						}

					&.actions {
						width:100%;

						.ie9 & {
							width:100% !important;
						}
					}
				}
			}

		}


	}

	.table-title {
		width:auto;
		
	}
	
	.t-underline {
		border-bottom:1px solid $bodyGrey;
		@include clearfix;
	
		&.t-dotted {
			border-bottom:2px dotted $bodyGrey;

			&.t-none {
				border-bottom:0px solid;
			}
		}


	}
	
	td.t-dotted {
		border-top:0px dotted $bodyGrey;
	}

	.total {
		border:0;
	}

	input[type="number"] {
		width:48px;
		@include font-size(13);
		margin-bottom: 10px;
	}
	
	.quantity {
		display: inline-block;
		margin:10px 0 0;

		p {
			@include font-size(13);
		}
	}

	.btn {
		display: inline-block;
		clear:both;
		float:none;
		margin-bottom: 0;
	}
	
	.btn-checkout {
		float:right;
		clear:none;
		.lt-ie8 & {
			margin-top:-32px;
		}
	}

	a {
		&:hover {
			border-bottom:1px solid $white;
		}
	}


}

// show/hide for media widths content ========== //

.ipad {
	display:inline-block;

	&.nav--top {
		display: inline-block;
	}

	&.header--footer {
		display:inline-block;
	}

	&.logo--wrapper {
		display: inline-block;
	}

	&.nav--site {
		display: block;
	}
}

.min-ipad {
	display:inline-block !important;
}

.max-ipad {
	display:none !important;
}


/* _buttons */
.back-link {
	margin-bottom:0;
}
