//_structure =================== //
.structure--content {
	@include rem('width', 940px);
	padding:0;

	&.homepage {
		@include rem('width', 950px);
		@include rem('margin-top', -23px);

		.lt-ie8 & {
			@include rem('margin-top', 0px);

		}

	}

	&.black-offset {
		@include rem('width', 970px);
	}
}

.header {
	padding:0;
}

.header--wrapper {
	.title--strap {
		display:inline-block;
	}
}

.breadcrumb--wrapper {
	@include rem('margin-bottom', 71px);
}

.grid--half {
	width:45.62%;
	.widget--product & {
		float:left;
		width:50%;
	}
}

.grid--two {
	float:right;
	.lt-ie8 & {
		@include rem('margin-left', 57px);
		float:none;
	}
}

.grid--one-third {
	
	margin: 0 1.4% $baselineHeight;
	width:31.25%;

	.lt-ie8 & {
		float:left;
	}

	&.alpha {
		margin-left:0;
		float:left;
	}

	&.omega {
		float: right;
		margin-right:0;
	}
}
//_page ======================== //

.logo--autoglym {
	float:none;
}

/*logos */
.logos--royal {
	@include rem('margin-right', 49px);
	img {
		width:183px;
		height:83px;
	}
	&.desktop  {
		display: inline-block;

		.lt-ie8 & {
			display: inline;
			zoom:1;
		}
	}
}

/* Navigation ====*/

.nav--top {
	&.desktop  {
		display: inline-block;
	}

	.lt-ie8 & {
		display: inline;
		zoom:1;
		float:none;
	}
}

.nav--site {
	letter-spacing:2px;
	a {
		@include rem('padding',0 11px);
		&.home {
			display: inline-block;
		}
	}
}

//* Headers =================== //

.title--strap {
	@include rem('margin-top',48px);
	@include rem('margin-right',28px);

	display:inline-block;
	float:none;

	.lt-ie8 & {
		display: inline;

	}
}

// _footer ===================== //

.footer {
	.grid--one {
		width:67%		
	}
	.grid--two {
		width:32%;
		float:right;
		text-align:right;
		.lt-ie8 & {
			float:none;
			vertical-align: top;
		}
	
		.header--footer {
			margin-top:8px;
			margin-right:10px;

			.lt-ie8 & {
				display: inline;
				zoom:1;
				margin-right: 90px;
			}
		}


	}

	hr {
		background:none;
		border-bottom: 1px solid;
	}

	.title--strap {
		@include font-size(12);

		.lt-ie8 & {
			@include rem('margin-top', -24px);
		}
	}
}

.social-icons {
	text-align:right;
	margin-top: -5px;
	
	.lt-ie8 & {
		display: inline;
		zoom:1;
	}
	
	li {
		vertical-align:middle;
		display: inline-block;

		@include rem('width', 28px);
		@include rem('height', 32px);
		
		.lt-ie8 & {
			display: inline;
			zoom:1;
		}

		background: image-url('bg-social-icons-small.png') no-repeat;

		.svg & {
			background: image-url('bg-social-icons-small.svg') no-repeat;
		}

		&.fb {
			background-position:0 0;

		}

		&.twitter {
			background-position:-30px 0;
			@include rem('margin', 0 0 0 0);

		}

		&.yt {
			background-position:-60px 0;
		}
	}
}

.sign-up {

	label {
		width:31.58%;
		display:inline-block;


	}
	input[type="text"] {
		width:32.22%;
		margin-right:3px;

		.lt-ie8 & {
			width:38%;
			position:relative;
			top:8px;
		}
	}
	
	input[type="submit"] {
		width:12.41%;
	}

}

.address--details, .follow {
	width:59%;
	display:inline-block;
	vertical-align: top;
	.lt-ie8 & {
		display: inline;
		zoom:1;
	
		.social-icons {
			display: inline;
			zoom:1;
			margin-left: 90px;
		}
	}


}

.follow {
	.header--footer {
		.lt-ie8 & {
			display: inline;
			zoom:1;
		}
	}
}



.footer-links {

	text-align:left;

	li {
		@include rem('margin', 0 20px 0 0); 
		
	}
}

.footer {
	.logo--wrapper {
		@include rem('margin-top',20px);

		.lt-ie8 & {
			display: inline;
			zoom:1;
		}
	}

	.logos--royal {
		display: none;
	}

	.logo--made-in-gb {
		@include rem('margin-top',0px);
		
		.lt-ie8 & {
			float:left;
			display: inline;
			zoom:1;
		}
	}

	.logos {
		width:40%;
		display:inline-block;
		vertical-align: top;

		.lt-ie8 & {
			display: inline;
			zoom:1;
		}

	}
}


//* _widgets ========== //

.widget {
	text-align:left;
	.product {
		img {
			float:left;
			margin-right:20px;
			display: inline-block;

			.lt-ie8 & {
				display: inline;
				float:none;
				zoom:1;
				vertical-align: top;
			}
		}

		h3 {
			width: 54%;
			.lt-ie8 & {
				width:53%;
				display: inline;
				float:none;
				zoom:1;
				vertical-align: top;
			}
		}
	}
}

.widget--image {
	float:none;
	
}

.widget--title-image-para {
	
	clear:none;
	&.grid--one-third {
		@include rem('width', 300px);
	}

	p {
		width:auto;
		text-align: center;
		position:relative;
		z-index: 10;
	}
}

.title--widget {
	text-align:center;

}

.sub-title-and-nav {
	width:754px;

}

// _forms =============== //
.form--top-right {
	position:absolute;
	top:$baselineHeight/2;
	right:0;
}

// _products

.product-item {
	.product-info {
		width:80%;
		
		.list-all & {
			width:57%;
		}
		
		.product-detail & {
			width:67%;
		}

	}
}

.widget--product {
		@include rem('height', 240px);
		@include rem('margin-bottom', $baselineHeight);

		.widget-content {
			position:relative;
			overflow: hidden;
			@include rem('height', 250px);
			
			.lt-ie8 & {
				@include rem('height', 206px);

			}
		}

		img {
			position:absolute;
			bottom:0px;
			right:19px;

		}

		.steps-list {
			li {
				display:block;
			}
		}

		p, li {
			line-height: 1.3;
		}
		.widget-link {
			position: absolute;
			bottom:28px;
			line-height: 17px;
		}
}


.widget--image {
	@include rem('height', 185px);
	@include rem('margin-bottom', $baselineHeight); 

}

.widget--title-image-para {
	display:inline-block;
	p {
		@include font-size(18);
	}

	&.grid--one-third {
		margin: 0 1.3% $baselineHeight;
		
		&.alpha {
			@include rem('margin-left', 0px);
		}

		&.omega {
			@include rem('margin-right', 0px);
		}

	}
}

.widgets--inline {
	width:100%;
}

//_sliders ===================================== //

.slider--with-panel {
	.panel {
		width:39.16%;
		min-height:288px;
		float:left;
		display: block;
		position: relative;
	}

	.slide-image {
		width: 60.42%;
		float:right;
	}

	h2 {
		@include font-size(20);
	}
	
	.title--slide-large {
		@include font-size(40);
		position: absolute;
		bottom:0;
	}

	p {
		@include font-size(13);
	}
	

}

.slider--large {
	.lt-ie9 & {
		width:100%;
		max-width:1280px;
		margin: 0 auto;
		@include rem('margin-top', $baselineHeight*1.5);
		height:auto;
		max-height: 631px;
	}

	.slide {
		max-height: 631px;
		overflow: hidden;
		position:relative;
		
		.lt-ie9 & {
			position:relative;
			max-width:1280px;
			height:auto;
			margin:0 auto;

		}
		
	}
	
	p {
		@include rem('width', 240px);
		@include font-size(19);
		top:185%;
		}

	.structure--content {
		@include rem('width', 950px);
	}

	.slider-link {
		bottom:70px;
	}
}


.rsBullets {
	top:-50px;
	@include rem('width', 960px);
	padding-left:1px;

}
// show/hide for media widths content ========== //

.desktop {
	display:block;
}

.max-desktop {
	display:none !important;
}