// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Forms =================================================== */

form {
margin : 0 0 $baselineHeight 0;

fieldset {
margin-bottom : $baselineHeight;
padding : 0;
border-width : 0; }

legend {
display : block;
width : 100%;
margin-bottom : $baselineHeight * 2;
*margin-left : -7px;
padding : 0;
color : $bodyColor;
border : 0;
white-space : normal;

small {
@include font-size(14);
	}
}

p {
margin-bottom : $baselineHeight / 2; }

ul {
list-style-type : none;
margin : 0 0 $baselineHeight 0;
padding : 0; }

br {
display : none; }
}

label,
input,
button,
select,
textarea {
@include font-size(14);
vertical-align : baseline;
*vertical-align : middle; }

input,
button,
select,
textarea {
font-family : $baseFont;
@include box-sizing(border-box); }

label {
display : block;
letter-spacing:1px;
color : $bodyColor;
cursor : pointer;
text-transform:uppercase;
input,
textarea,
select {
display : block; }
}

input,
textarea,
select {
display : inline-block;
width : 100%;
padding : 4px;
margin-bottom : $baselineHeight / 4;
color : $formText;

&:hover {
//border-color : $inputhover;
}
}

input[type="text"], input[type="email"], textarea {
	@include border-radius(5px);
	@include rem('padding', 5px 8px 5px 14px);
	@include font-size(14px);
	color:#808080;
	@include pie;
	
	.error & {
		border:2px solid $autoGlymColor;
	}
}

textarea {
	@include rem('padding', 7px 8px 7px 14px);
}

.input-mini {
width : 60px; }

.input-small {
width : 90px; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
width : auto;
height : auto;
padding : 0;
margin : 3px 0;
*margin-top : 0;
line-height : normal;
cursor : pointer;
@include border-radius(0);
border : 0 \9; }

input[type="checkbox"],
input[type="radio"] {
@include box-sizing(border-box);
padding : 0;
*width : 13px;
*height : 13px; }

input[type="image"] {
border : 0;
@include box-shadow(none); }

input[type="file"] {
width : auto;
padding : initial;
line-height : initial;
border : initial;
background-color : transparent;
background-color : initial;
@include box-shadow(none); }

input[type="button"],
input[type="reset"],
input[type="submit"] {
width : auto;
height : auto;
cursor : pointer;
*overflow : visible; }

select,
input[type="file"] {
height : 28px;
*margin-top : 4px;
line-height : 28px; }

select {
width : auto;
//background-color : $inputbackground;
@include font-size(13); }

select[multiple],
select[size] {
height : auto; }

textarea {

height : auto;
overflow : auto;
vertical-align : top; }

input[type="hidden"] {
display : none; }

.radio,
.checkbox {
padding-left : 18px;
font-weight : normal; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
float : left;
margin-left : -18px; }

.radio.inline,
.checkbox.inline {
display : inline-block;
padding-top : 5px;
margin-bottom : 0;
vertical-align : middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
margin-left : 10px; }

// disabled

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
@include opacity(.5);
cursor : not-allowed; }

// focus and active

input:focus,
textarea:focus {
//border-color : $inputfocus;
outline : 0;
outline : thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
@include box-shadow(none); }

::-webkit-input-placeholder {
@include font-size(14); }

input:-moz-placeholder {
@include font-size(14); }


// .form-inline

.form-inline input,
.form-inline textarea,
.form-inline select {
display : inline-block;
margin-bottom : 0; }

.form-inline label {
display : inline-block; }

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
padding-left : 0;
margin-bottom : 0;
vertical-align : middle; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
float : left;
margin-left : 0;
margin-right : 3px; }

// .form-search

.form-search input,
.form-search textarea,
.form-search select {
display : inline-block;
margin-bottom : 0; }

.form-search .search-query {
padding-left : 14px;
padding-right : 14px;
margin-bottom : 0;
@include border-radius(14); }

.form-search label {
display : inline-block; }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
padding-left : 0;
margin-bottom : 0;
vertical-align : middle; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
float : left;
margin-left : 0;
margin-right : 3px; }

.footer-label {
	@include rem('margin-bottom', $baselineHeight/3);
}

label {
	.error & {
		color:$autoGlymColor;
	}
}

.drop-down--holder {
	label {
		text-transform: none;
			@include rem('margin-right', $baselineHeight/2);
	}
}

.form-errors {
	display:block;
	i {
	color:$autoGlymColor;
	@include font-size(28);
	}

	h3 {
		margin: 10px 0 10px 0;
		width:86%;
		float:right;
		color:$autoGlymColor;
	}

}


.drop-down {
	@include border-radius(5px);
	@include rem('padding', 5px 8px 5px 14px);
	@include font-size(14px);
	color:#808080;
	border:0;
	@include pie;
	@include rem('width', 200px);

	.lt-ie8 & {
		background:none;
		vertical-align: top;
	}
}

.form-list {


	#normal--content &,
	.svg #normal--content &,
	#cms--content &,
	.svg #cms--content & {
		li {
			background:none;
			padding-left:0;
			padding-bottom:$baselineHeight/4;
			position:relative;
		}
	}
	

	li {
		clear:both;
	}

	.inline-errors {
		position:absolute;
		top:0;
		right:0;
		color:$autoGlymColor;
		display:none;
	}

	&.reviews-list {
		>
		li {
			border-top:1px solid #fff;
			padding-top:10px;
		}

	}

	select {
		margin-bottom:$baselineHeight/1.5;
	}
	
	input[type="radio"], input[type="submit"] {
		width:auto;
	}
	
	input[type="text"], input[type="email"] {
		width:100%;
		margin-bottom:$baselineHeight/1.5;
		@include border-radius(0);
	}
	
	.btn {
		margin-bottom:$baselineHeight;
	}

	.radio-group {
		li {
			border:0;
			margin-right:10px;
		}
	}

	input[type="checkbox"] {
		margin-right: 10px;
		margin-top: 6px;
		margin-bottom: $baselineHeight;
	}
	
	.error {
		p {
			color:$autoGlymColor;
		}
	}

	&.landing-page {
	
		
		p {
			margin-bottom: 0;
			width:91%;
			float:right;
		}
		
	}

}

.radio-group {


}

.error-list {
	margin-top:$baselineHeight/2;
	li {
		background:image-url('bg-bullets.png') 0 10px no-repeat;
		padding-left:10px;
	}
}

p.inline-errors { display: none; }