---
title: Autoglym Checkout 05 Complete
---



<section class="structure--mainarea structure--content clearfix">
	
	<ul class="checkout-steps">
		<li><a href="#">Your basket</a></li>
		<li><a href="#">Address details</a></li>
		<li><a href="#">Delivery</a></li>
		<li><a href="#">Payment</a></li>
		<li class="current"><a href="#">Complete</a></li>
	</ul>

	<table cellpadding="0" class="checkout four-cols">
		<caption>Order: R300457886</caption>
		<tbody>
			<tr>
				<td>
					<h6 class="table-title upper-case">SHIPPING ADDRESS</h6>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
				<td>
					<h6 class="table-title upper-case">Billing ADDRESS</h6>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
				<td>
					<h6 class="table-title upper-case">SHipping Method</h6>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
				<td>
					<h6 class="table-title upper-case">Payment</h6>
					Check
				</td>
			</tr>
		</tbody>
	</table>
	<table cellpadding="0" class="checkout four-cols basket-info responsive">
		<tbody>
			<tr class="t-underline">
				<td>
					<h6 class="upper-case">Item</h6>
					<div class="max-ipad inline-list">
						<img src="img/checkout-thumb.png" alt=""/>
						<h6>Bodywork Shampoo and Conditioner</h6>
					</div>
				</td>
				<td  class="inline-list">
					<h6 class="upper-case">Quantity</h6>
					<div class="max-ipad switch-content">
						<p>2</p>
					</div>
				</td>
				<td class="inline-list">
					<h6 class="upper-case">Unit price</h6>
					<div class="max-ipad switch-content">
						£&nbsp;9999.99
					</div>
				</td>
				<td  class="inline-list">
					<h6 class="upper-case">Price</h6>
					<div class="max-ipad switch-content">
						£&nbsp;9999.99
					</div>
				</td>
			</tr>
			<tr class="t-underline">
				<td>
					<div class="min-ipad inline-list">
						<img src="img/checkout-thumb.png" alt=""/>
						<h6>Bodywork Shampoo and Conditioner</h6>
					</div>
				</td>
				<td>
					<div class="min-ipad">
						<p>2</p>
					</div>
				</td>
				<td>
					<div class="min-ipad">
						£&nbsp;9999.99
					</div>
				</td>
				<td>
					<div class="min-ipad">
						£&nbsp;9999.99
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
</section>
