---
title: Autoglym Checkout 05 Complete
---



<section class="structure--mainarea structure--content clearfix">
	
	<ul class="checkout-steps">
		<li><a href="#">Your basket</a></li>
		<li><a href="#">Address details</a></li>
		<li><a href="#">Delivery</a></li>
		<li><a href="#">Payment</a></li>
		<li class="current"><a href="#">Complete</a></li>
	</ul>

	<table class="checkout">
		<caption>Order: R300457886</caption>
		<tbody>
			<tr>
				<td>
					SHIPPING ADDRESS<br/>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
				<td>
					SHIPPING ADDRESS<br/>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
				<td>
					SHIPPING ADDRESS<br/>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
				<td>
					SHIPPING ADDRESS<br/>
					28 Bailey Street<br/>
					Sheffield<br/>
					United Kingdom<br/>
					S1 4EH
				</td>
			</tr>
		</tbody>
	</table>
		
</section>
