---
title: Autoglym Checkout 03 Delivery address
---



<section class="structure--mainarea structure--content clearfix">
	
	<ul class="checkout-steps">
		<li><a href="#">Your basket</a></li>
		<li><a href="#">Address details</a></li>
		<li  class="current"><a href="#">Delivery</a></li>
		<li><a href="#">Payment</a></li>
		<li><a href="#">Complete</a></li>
	</ul>
	<div class="table-wrapper">
	<div class="order-summary">
		<h6 class="upper-case">Order summary</h6>
		<ul>
			<li class="inline-list"><p class="item">Item total:</p><p>£14.98</p></li>
			<li class="inline-list"><p class="item">Order total:</p><p>£15.98</p></li>
		</ul>
		
	</div>		
	
	<!-- Basket Info -->
		<table cellpadding="0" class="checkout four-cols basket-info your-basket">
			<caption>Shipping method</caption>

			<tbody>
				
			</tbody>
		</table>

	<form class="form-list radio-group" action="/">

		<div class="form-wrapper grid-container">
			<ol class="grid--container">
				<li class="grid--one-third alpha"><label for=""><input name="delivery" checked type="radio"/>UPS GROUND £5.00</label></li>
				<li class="grid--one-third"><label for=""><input name="delivery" type="radio"/>UPS ONE DAY £15.00</label></li>
				<li class="grid--one-third omega"><label for=""><input name="delivery" type="radio"/>UPS TWO DAY £10.00</label></li>
			</ol>
			
			<input type="submit" class="btn floatRight" value="Save &amp; Continue"/>
			

		</div>

	</form>
	</div>
</section>
