---
title: Autoglym Checkout 05 Complete
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	
	<ul class="checkout-steps">
		<li><a href="#">Your basket</a></li>
		<li><a href="#">Address details</a></li>
		<li><a href="#">Delivery</a></li>
		<li><a href="#">Payment</a></li>
		<li class="current"><a href="#">Complete</a></li>
	</ul>

	
		
</section>
