---
title: Autoglym Checkout 04 Delivery address
---



<section class="structure--mainarea structure--content clearfix">
	
	<ul class="checkout-steps">
		<li><a href="#">Your basket</a></li>
		<li><a href="#">Address details</a></li>
		<li><a href="#">Delivery</a></li>
		<li class="current"><a href="#">Payment</a></li>
		<li><a href="#">Complete</a></li>
	</ul>
	<div class="table-wrapper">
	<div class="order-summary">
		<h6 class="upper-case">Order summary</h6>
		<ul>
			<li class="inline-list"><p class="item">Item total:</p><p>£14.98</p></li>
			<li class="inline-list"><p class="item">Shipping:</p><p>£14.98</p></li>
			<li class="inline-list"><p class="item"><strong>Order total:</strong></p><p><strong>£15.98</strong></p></li>
		</ul>
		
	</div>		
	
	<!-- Basket Info -->
		<table cellpadding="0" class="checkout four-cols basket-info your-basket">
			<caption>Payment information</caption>

			<tbody>
				
			</tbody>
		</table>

	<form class="form-list credit-card" action="/">

		<div class="form-wrapper grid-container">
			<ol class="grid--container inline-list">
				<li><label for=""><input name="card" checked type="radio"/>CREDIT CARD</label></li>
				<li class="card"><img src="img/credit-card-image.jpg" alt="image description"/><img src="img/credit-card-image.jpg" alt="image description"/><img src="img/credit-card-image.jpg" alt="image description"/><img src="img/credit-card-image.jpg" alt="image description"/></li>
				<li><label for="">CARD NUMBER*</label><input name="card_number" type="text"/></li>
				<li><label for="">EXPIRATION*</label><select class="drop-down" name="month"><option>02</option></select><select class="drop-down" name="year"><option>2013</option></select></li>
				<li class="inline-list"><label for="">CARD CODE*</label><br/><input name="card number" type="text"/><a href="#">(What's this?)</a></li>
			</ol>
			
			<input type="submit" class="btn floatRight" value="Save &amp; Continue"/>
			

		</div>

	</form>
	</div>
</section>
