---
title: Autoglym Home Page
---



<section class="structure--mainarea clearfix">
		<div class="slider--large inactive">
			<div class="slide">
				
				<img class="rsImg slide-image" src="img/slider-home-01.jpg" alt=""/>
				<img class="spacer" src="img/slide-spacer.gif" alt=""/>
				<div class="structure--content">
					<div class="slide-text">
						<h2 class="title--slider-large"><span>Shine</span><br>more often</h2>
						<p>With a little help<br/> from autoglym</p>
					</div>
					<a class="slider-link" href="#">EXPLORE</a>
				</div>
			</div>
			<div class="slide">
				
				<img class="rsImg slide-image" src="img/slider-home-01.jpg" alt=""/>
				<img class="spacer" src="img/slide-spacer.gif" alt=""/>
				<div class="structure--content">
					<div class="slide-text">
						<h2 class="title--slider-large"><span>Shine</span><br>more often</h2>
					</div>
				</div>
			</div>

			
		</div><!-- slider--large -->
		<div class="structure--content black-offset"></div>


	<div class="structure--wrapper grad--dark-grey">
		<div class="structure--content homepage">
			<div class="widgets--inline inline-list">
				<aside class="widget--title-image-para grid--one-third alpha">
					<h2 class="title--widget">SHOP ONLINE</h2>
					<a href="#" title="Shop online" class="widget--image">
						
							<img src="img/widget-home-01.png" title="image description" alt="image description"/>
					</a>
					<!-- END widget--image -->
					<p><a href="#" title="Find out more">Find out more</a> about what makes our products so special and discover the benefits of teamwork.</p>
				</aside><!-- END widget--title-and-image -->
				<aside class="widget--title-image-para grid--one-third">
					<h2 class="title--widget">HELP AND ADVICE</h2>
					<a class="widget--image" href="#" title="Shop online" class="widget--image">
						<img src="img/widget-home-02.png" title="image description" alt="image description"/>
					</a><!-- END widget--image -->
					<p><a href="#" title="Explore our videos">Explore our videos</a> and how to guides to keep your car looking like it just left the showroom.</p>
				</aside><!-- END widget--title-and-image -->
				<aside class="widget--title-image-para grid--one-third omega">
					<h2 class="title--widget">FIND A STOCKIST</h2>
					<a href="#" class="widget--image">
						<img src="img/widget-home-03.png" title="image description" alt="image description"/>
					</a><!-- END widget--image -->
					<p>Enter your postcode or change your country location to <a href="#">find your nearest Autoglym stockist.</a></p>
				</aside><!-- END widget--title-and-image -->
				
			</div><!-- END widgets inline -->
		</div><!-- END widgets inline -->
	</div>
</section>

