---
title: Autoglym Styleguide
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	<section class="structure--side-column">
		<nav class="nav--sub-nav bg--grey">
			<h3 class="title--sub-title">Sub title</h3>
            <ul>
                <li class="selected"><a href="#" title="sub section">Sub section</a>
					<ul>
		                <li class="selected"><a href="#" title="sub section">Sub sub section</a></li>
		                <li><a href="#" title="sub section">Sub section</a></li>
		                <li><a href="#" title="sub section">Sub section</a></li>
	            	</ul> 
                </li>
                     
                <li><a href="#" title="sub section">sub section</a></li>
                <li><a href="#" title="sub section">sub section</a></li>
            </ul>               
		</nav>
	</section>
	
	<section id="normal--content" class="structure--main-column">
			<h1>News</h1>
			<p class="large-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<hr class="less-margins"/>
			<ul class="media--list">
				<li class="media--item grid--inline">
					<div class="media--text">
						<p>7th February 2013</p>
						<h2 class="media--title lower-case">News headline goes here</h2>
					</div>
					<img src="img/media-item.png" alt=""/>
					<div class="media--text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a class="upper-case" href="#">Read More</a>
					</div>
				
					<hr class="less-margins"/>
				</li>
				<li class="media--item">
					<div class="media--text">
						<p>7th February 2013</p>
						<h2 class="media--title lower-case">News headline goes here</h2>
					</div>
					<img src="img/media-item.png" alt=""/>
					<div class="media--text">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<ul>
								<li>askljdlaksjd</li>
								<li>askljdlaksjd</li>
							</ul>
							<a class="upper-case" href="#">Read More</a>
					</div>

					<hr class="less-margins"/>
				</li>
			</ul>
			
	</section>

	<section class="structure--widget-holder">
		<%= partial "shared/widgets/widget-product-of-the-month" %>
		<%= partial "shared/widgets/widget-generic" %>
		<%= partial "shared/widgets/widget-generic" %>	
	</section>
</section>
