---
title: Autoglym News Article
---



<section class="structure--mainarea structure--content inline-list  clearfix">
<section class="structure--side-column">
		<nav class="nav--sub-nav bg--grey">
			<h3 class="title--sub-title">Sub title</h3>
            <ul>
                <li class="selected"><a href="#" title="sub section">Sub section</a>
					<ul>
		                <li class="selected"><a href="#" title="sub section">Sub sub section</a></li>
		                <li><a href="#" title="sub section">Sub section</a></li>
		                <li><a href="#" title="sub section">Sub section</a></li>
	            	</ul> 
                </li>
                     
                <li><a href="#" title="sub section">sub section</a></li>
                <li><a href="#" title="sub section">sub section</a></li>
            </ul>               
		</nav>
	</section>
	
	<article id="cms--content" class="structure--main-column">
			<div class="media-item">
			<h1>News Article Title</h1>
			<p>7th February 2013</p>
			<img src="img/placeholder-image.jpg" alt="image description"/>
			<p class="large-para">This paragraph has a style of 'large-para' applied. The company was founded in 1965 by a UK Motor Trade entrepreneur who developed a unique system for renovating used car paintwork. Today the name is synonymous with high quality car care and vehicle valeting products around the world.</p>
			<p>This paragraph has a style of 'large-para' applied. The company was founded in 1965 by a UK Motor Trade entrepreneur who developed a unique system for renovating used car paintwork. Today the name is synonymous with high quality car care and vehicle valeting products around the world.</p>
			<a href="#" class="back-link">Go Back</a>

	</article>

	<section class="structure--widget-holder">
		<%= partial "shared/widgets/widget-product-of-the-month" %>
		
	</section>
</section>
