---
title: Autoglym Product Thumbs
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	<section class="structure--side-column">
		<nav class="nav--sub-nav bg--grey">
			<h3 class="title--sub-title">Sub title</h3>
            <ul>
                <li class="selected"><a href="#" title="sub section">Sub section</a>
					<ul>
		                <li class="selected"><a href="#" title="sub section">Sub sub section</a></li>
		                <li><a href="#" title="sub section">Sub section</a></li>
		                <li><a href="#" title="sub section">Sub section</a></li>
	            	</ul> 
                </li>
                     
                <li><a href="#" title="sub section">sub section</a></li>
                <li><a href="#" title="sub section">sub section</a></li>
            </ul>               
		</nav>
	</section>
	
	<section id="normal--content" class="structure--main-column">
			<h1>1. Body work</h1>
			<h4>Clean</h4>
			<p class="large-para">Roetur utem venim autem alitiam eum alit suamet remolup taesti sim et asitas adis unteturetur aut id euam il earum harum due doluptate enis ipsa cus sunt veriandus esedi doluptatem consequi cus tem eatur nonserum fuatur arure sui buiatis explignam suuntius earuntur utem.</p>
			<div class="product-item">
				<div class="product-image">
					<img src="img/product-large.png" alt="product name"/>
				</div>
				<div class="product-info">
					<h2 class="product-title" itemprop="name">Bodywork Shampoo Conditioner</h2>
					<p class="price">£<span itemprop="price">5.99</span></p>
					<ul class="inline-list ratings">
						<li><i class="icon-star"></i></li>
						<li><i class="icon-star"></i></li>
						<li><i class="icon-star"></i></li>
					</ul>
				
					<a href="#" class="btn">buy</a>
				
				</div>
				

			</div>
	</section>

	<section class="structure--widget-holder">
		
	</section>
</section>
