---
title: Autoglym Product Thumbs
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	<section class="structure--side-column">
		<nav class="nav--sub-nav bg--grey">
			<h3 class="title--sub-title">3-STEP ROUTINE</h3>
            <ul>
                <li class="selected"><a href="#" title="1. Body Work">1. Body Work</a>
					<ul>
		                <li class="selected"><a href="#" title="Clean">Clean</a></li>
		                <li><a href="#" title="Polish">Polish</a></li>
		                <li><a href="#" title="Protect">Protect</a></li>
	            	</ul> 
                </li>
                     
                <li><a href="#" title="2. Wheels">2. Wheels</a></li>
                <li><a href="#" title="3. Interior">3. Interior</a></li>
            </ul> 
            <h3 class="title--sub-title">DETAILING PERFECTION</h3>
            <ul>
                <li><a href="#" title="Preparation">Preparation</a></li>
                <li><a href="#" title="Finishing">Finishing</a></li>
            </ul> 
            <ul class="single-nav-item">
                <li><a href="#" title="View all products">View all products</a></li>
            </ul>   
		</nav>
	</section>
	
	<section id="normal--content" class="structure--main-column">
			<h1>1. Body work</h1>
			<form class="form--top-right drop-down--holder inline-list">
				<label for="">Refine by</label>
				<select class="drop-down">
					<option value="">option</option>
				</select>
			</form>
			<h4>Clean</h4>
			<p class="large-para">Roetur utem venim autem alitiam eum alit suamet remolup taesti sim et asitas adis unteturetur aut id euam il earum harum due doluptate enis ipsa cus sunt veriandus esedi doluptatem consequi cus tem eatur nonserum fuatur arure sui buiatis explignam suuntius earuntur utem.</p>
			<ul class="product-list">
				<li itemscope itemtype="http://data-vocabulary.org/Product" class="product-item">
					<div class="product-image">
						<img itemprop="image" src="img/product-249x249.jpg" alt="product name"/>
					</div>
					<div class="product-info">
						<meta itemprop="currency" content="GBP" />
						<meta itemprop="brand" content="Autoglym" />
						<meta itemprop="category" content="Car Wash Solutions" />
						<h2 class="product-title" itemprop="name">Bodywork Shampoo Conditioner</h2>
						<p class="price">£<span itemprop="price">5.99</span></p>
						<ul class="inline-list ratings">
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li class="end"><i class="icon-star"></i></li>
							<li class="reviews">100 reviews</li>
							<li itemprop="rating" class="total-stars">5</li>
						</ul>
					
						<a href="#" class="btn">buy</a>
					</div>
				</li><!-- END .product-item -->
				<li itemscope itemtype="http://data-vocabulary.org/Product" class="product-item">
					<div class="product-image">
						<img itemprop="image" src="img/product-249x249.jpg" alt="product name"/>
					</div>
					<div class="product-info">
						<meta itemprop="currency" content="GBP" />
						<meta itemprop="brand" content="Autoglym" />
						<meta itemprop="category" content="Car Wash Solutions" />
						<h2 class="product-title" itemprop="name">Bodywork Shampoo Conditioner</h2>
						<p class="price">£<span itemprop="price">5.99</span></p>
						<ul class="inline-list ratings">
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li class="end"><i class="icon-star"></i></li>
							<li class="reviews">100 reviews</li>
							<li itemprop="rating" class="total-stars">5</li>
						</ul>
					
						<a href="#" class="btn">buy</a>
					</div>
				</li><!-- END .product-item -->
				<li itemscope itemtype="http://data-vocabulary.org/Product" class="product-item">
					<div class="product-image">
						<img itemprop="image" src="img/product-249x249.jpg" alt="product name"/>
					</div>
					<div class="product-info">
						<meta itemprop="currency" content="GBP" />
						<meta itemprop="brand" content="Autoglym" />
						<meta itemprop="category" content="Car Wash Solutions" />
						<h2 class="product-title" itemprop="name">Bodywork Shampoo Conditioner</h2>
						<p class="price">£<span itemprop="price">5.99</span></p>
						<ul class="inline-list ratings">
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li><i class="icon-star"></i></li>
							<li class="end"><i class="icon-star"></i></li>
							<li class="reviews">100 reviews</li>
							<li itemprop="rating" class="total-stars">5</li>
						</ul>
					
						<a href="#" class="btn">buy</a>
					</div>
				</li><!-- END .product-item -->
			</ul><!-- END .product-list -->
	</section>

	<section class="structure--widget-holder">
		
	</section>
</section>
