---
title: Autoglym Product Detail
---



<section class="structure--mainarea structure--content inline-list product-detail clearfix">
	<div class="product-list product-info">
		<div itemscope itemtype="http://data-vocabulary.org/Product" class="product-item">
			<div class="product-image product-preview">
				<img class="product-detail-image" itemprop="image" src="img/product-detail.png" alt="product name"/>
				<p>More Views</p>
				<ul class="product-thumbs">
					<li><a href="#"><img src="img/product-detail-thumb.png" alt=""></a></li>
					<li><a href="#"><img src="img/product-detail-thumb.png" alt=""></a></li>
				</ul>
			</div>
			<div class="product-info">
				<meta itemprop="currency" content="GBP" />
				<meta itemprop="brand" content="Autoglym" />
				<meta itemprop="category" content="Car Wash Solutions" />
				<h2 class="product-title" itemprop="name">Bodywork Shampoo Conditioner</h2>
				<p class="price">£<span itemprop="price">5.99</span></p>
				<ul class="inline-list ratings">
					<li><i class="icon-star"></i></li>
					<li><i class="icon-star"></i></li>
					<li><i class="icon-star"></i></li>
					<li><i class="icon-star"></i></li>
					<li class="end"><i class="icon-star"></i></li>
					<li class="reviews">100 reviews</li>
					<li itemprop="rating" class="total-stars">5</li>
				</ul>
				
			</div>
		</div><!-- END .product-item -->
	</div>
	<section id="normal--content" class="structure--main-column">
		<form class="basket-tools" action="/">
			<fieldset>
				<label for="quantity">Quantity</label>
				<input id="quantity" type="number" value="0"/>
				<br class="max-ipad"/>
				<select class="drop-down">
					<option>Select Size</option>
				</select>
				<br class="max-ipad"/>
				<a href="#" class="btn add-to-basket"><i></i>Add to basket</a>
			</fieldset>
		</form>
		<div class="product-information">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="borders-top-bottom">
			<i class="icon-search"></i><p><a href="#">Find your nearest Autoglym retailer</a></p>
		</div>
	</section>

	<section class="structure--wrapper">
		<div class="widget--expander">
			<div class="widget-content">
				<p class="title--expander">How to use this product //<br class="max-ipad"/>3 videos</p>
				<a class="expand" href="#">Close</a>
				<hr/>
				<div class="expander-content">
					<ul class="video-list">
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</section>
</section>
