---
title: Autoglym Product Overview
---



<section class="structure--mainarea structure--content grad--dark-grey clearfix">
	<div class="widgets--inline inline-list ">
		<aside class="widget--product grid--one-third alpha">
			<div class="widget-content">
				<h3 class="widget-title">BODYWORK</h3>
				<div class="grid--container grid--inline">
					<div class="grid--half grid--one">
					<p class="body-grey">3 steps to great bodywork:</p>
					<ul class="steps-list">
						<li>Clean</li>	
						<li>Polish</li>	
						<li>Product</li>	
					</ul>
					<a class="upper-case" href="#">Explore</a>
				</div>
				<div class="grid--half grid--two">
					<img src="img/products-three.png" alt="products description"/>
				</div>
				</div>
				
			</div>
			
		</aside><!-- END widget -->
		<aside class="widget--product grid--one-third">
			<div class="widget-content">
				<h3 class="widget-title">BODYWORK</h3>
				<div class="grid--container grid--inline">
					<div class="grid--half grid--one">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
					</div>
					<div class="grid--half grid--two">
						<img src="img/products-three.png" alt="products description"/>
					</div>
				</div>
				
			</div>
			
		</aside><!-- END widget -->
		<aside class="widget--product grid--one-third omega">
			<div class="widget-content">
				<h3 class="widget-title">BODYWORK</h3>
				<div class="grid--container grid--inline">
					<div class="grid--half grid--one">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
					</div>
					<div class="grid--half grid--two">
						<img src="img/products-three.png" alt="products description"/>
					</div>
				</div>
				
			</div>
			
		</aside><!-- END widget -->
	</div><!-- END widgets inline -->
	</section>

