---
title: Autoglym Product Detail
---



<section class="structure--mainarea structure--content inline-list product-detail clearfix">
	<a href="#" class="back-link upper-case" title="Back">Back</a>
	<div class="product-list product-info">
		<div itemscope itemtype="http://data-vocabulary.org/Product" class="product-item">
			<div class="product-image product-preview">
				<img class="product-detail-image" itemprop="image" src="img/product-detail.png" alt="product name"/>
				<p>More Views</p>
				<ul class="product-thumbs">
					<li><a href="#"><img src="img/product-detail-thumb.png" alt=""></a></li>
					<li><a href="#"><img src="img/product-detail-thumb.png" alt=""></a></li>
				</ul>
			</div>
			<div class="product-info">
				<meta itemprop="currency" content="GBP" />
				<meta itemprop="brand" content="Autoglym" />
				<meta itemprop="category" content="Car Wash Solutions" />
				<h1 class="product-title" itemprop="name">Bodywork Shampoo Conditioner</h1>
				<p class="price">£<span itemprop="price">5.99</span></p>
				<ul class="inline-list ratings">
					<li><i class="icon-star"></i></li>
					<li><i class="icon-star"></i></li>
					<li><i class="icon-star"></i></li>
					<li><i class="icon-star"></i></li>
					<li class="end"><i class="icon-star"></i></li>
					<li class="reviews">100 reviews</li>
					<li itemprop="rating" class="total-stars">5</li>
				</ul>
				
			</div>
		</div><!-- END .product-item -->
	</div>
	<section id="normal--content" class="structure--main-column">
		
		<div class="product-information">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

			<ul>
				<li class="stars"><img src="img/icon-star.png" alt=""></li>
			</ul>
		</div>
	</section>

	<section class="structure--wrapper">
		<div>
			<div id="cms--content" class="form-errors">
				<div class="borders-top-bottom">
					<i class="icon-warning-sign"></i>
					<h3>There were problems with your form</h3>
				</div>
				<ul class="error-list">
					<li>Name can't be blank</li>
					<li>Email incorrect</li>
					<li>Message can't be blank</li>
					<li>Subject can't be blank</li>
				</ul>
			</div>
			<form>
				<fieldset>

					<ul class="form-list reviews-list">
						<li class="error">
							<label for="">1. CLICK ON ONE OF THE STARS TO RATE THIS PRODUCT *</label>
							<p class="upper-case">Overall product rating:</p>
						</li>
						<li>
							<label for="">2. I WOULD RECOMEND THIS PROCUCT TO A FRIEND *</label>
							<ul class="radio-group inline-list">
								<li><input type="radio" name="recommend-friend" value="Yes" checked> Yes</li>
								<li>
									<input type="radio" name="recommend-friend" value="No" >No
								</li>
							</ul>							
						</li>
						<li class="error">
							<div class="grid--half">
								<label for="">3. WRITE A TITLE FOR YOUR REVIEW *</label>
								<input type="text"/>
							</div>
						</li>
						<li class="inline-list">
							<div class="grid--half grid--one">
								<label for="">4. TYPE YOUR REVIEW *</label>
								<textarea name="" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="grid--half grid--two">
								<h6 class="title--hints upper-case">Helpful hints</h6>
								<p>Mendi dolupturis aruptur maiorrum estio optatium nullabo rionsernam, cone reheni atquia conseque pa dolor abores ipist etur, que niam dende eum vel 
								</p>
								<ul class="bullets">
									<li>Mendi dolupturis aruptur maiorrum estio</li>
									<li>Mendi dolupturis aruptur maiorrum estio</li>
									<li>Mendi dolupturis aruptur maiorrum estio</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="grid--half">
								<label for="">5. NICKNAME *</label>
								<input type="text"/>
							</div>
						</li>
						<li>
							<div class="grid--half">
								<label for="">6. WHERE ARE YOU FROM? *</label>
								<input type="text"/>
							</div>
						</li>
						<li>
							<div class="grid--half">
								<label for="">7. EMAIL ADDRESS *</label>
								<input type="text"/>
							</div>
						</li>
						<li>
							<input type="submit" class="btn"/>
						</li>
					</ul>
					<div class="grid--half">
						

					</div>

					<div class="grid--half">
					
					</div>
				</fieldset>
				
			</form>
		</div>
	</section>
</section>
