---
title: Autoglym Product Detail
---



<section class="structure--mainarea structure--content inline-list product-detail clearfix">
	<section class="structure--side-column">
		<div class="product-info product-preview">
			<img class="product-detail-image" src="img/product-detail.png" alt="product description"/>
			<p>More Views</p>
			<ul class="product-thumbs">
				<li><a href="#"><img src="img/product-detail-thumb.png" alt=""></a></li>
				<li><a href="#"><img src="img/product-detail-thumb.png" alt=""></a></li>
			</ul>
		</div>
	</section>
	
	<div itemtype="http://data-vocabulary.org/Product">
		<meta itemprop="currency" content="GBP" />
		<meta itemprop="brand" content="Autoglym" />
		<meta itemprop="category" content="Car Wash Solutions" />
		<h1 itemprop="name">Bodywork Shampoo Conditioner</h1>
		<p class="price">£<span itemprop="price">5.99</span></p>
		<ul class="inline-list ratings">
			<li><i class="icon-star"></i></li>
			<li><i class="icon-star"></i></li>
			<li><i class="icon-star"></i></li>
			<li><i class="icon-star"></i></li>
			<li class="end"><i class="icon-star"></i></li>
			<li class="reviews">100 reviews</li>
			<li itemprop="rating" class="total-stars">5</li>
		</ul>
		<form>
			<fieldset class="inline-list">
				<label for="quantity">Quantity</label>
				<input type="number" value="0"/>
			</fieldset>
		</form>
	</div>

	<section id="normal--content" class="structure--main-column">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</section>

	<section class="structure--widget-holder">
		
	</section>
</section>
