---
title: Autoglym Product Overview
---



<section class="structure--mainarea grad--dark-grey clearfix">
	<div class="structure--content">
		<div class="slider--with-panel">
			<div class="panel">

			</div>
			<img src="img/slider-image.jpg" alt="">
		</div>
		<h3 class="title--widget-group">AUTOGLYM 3-STEP ROUTINE</h3>
		<div class="widgets--inline inline-list ">
			<aside class="widget--product grid--one-third alpha">
				<div class="widget-content">
					<h3 class="widget-title">BODYWORK</h3>
					<div class="grid--half">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
						<img src="img/products-three.png" alt="products description"/>
					</div>				
				</div>
			</aside><!-- END widget -->
			<aside class="widget--product grid--one-third">
				<div class="widget-content">
					<h3 class="widget-title">WHEELS</h3>
					<div class="grid--half">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
						<img src="img/products-three.png" alt="products description"/>
					</div>				
				</div>
			</aside><!-- END widget -->
			<aside class="widget--product grid--one-third omega">
				<div class="widget-content">
					<h3 class="widget-title">INTERIOR</h3>
					<div class="grid--half">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
						<img src="img/products-three.png" alt="products description"/>
					</div>				
				</div>
			</aside><!-- END widget -->
		</div><!-- END widgets inline -->
		<h3 class="title--widget-group">DETAILING PERFECTION</h3>
		<div class="widgets--inline inline-list ">
			<aside class="widget--product grid--one-third alpha">
				<div class="widget-content">
					<h3 class="widget-title">Preperation</h3>
					<div class="grid--half">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
						<img src="img/products-three.png" alt="products description"/>
					</div>				
				</div>
			</aside><!-- END widget -->
			<aside class="widget--product grid--one-third">
				<div class="widget-content">
					<h3 class="widget-title">Finishing Touches</h3>
					<div class="grid--half">
						<p class="body-grey">3 steps to great bodywork:</p>
						<ul class="steps-list">
							<li>Clean</li>	
							<li>Polish</li>	
							<li>Product</li>	
						</ul>
						<a class="upper-case" href="#">Explore</a>
						<img src="img/products-three.png" alt="products description"/>
					</div>				
				</div>
			</aside><!-- END widget -->
			<aside class="widget--product grid--one-third omega">
				<div class="widget-content">
					<h3 class="widget-title">CLICK HERE TO VIEW FULL RANGE</h3>
					<div class="grid--half">
						
						<img src="img/products-three.png" alt="products description"/>
					</div>				
				</div>
			</aside><!-- END widget -->
		</div><!-- END widgets inline -->
	</div>
</section>

