---
title: Autoglym Search Results Two
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	<section class="structure--side-column">
		
	</section>
	
	<section id="normal--content" class="structure--main-column">
		<h1>Search Results for <br class="max-ipad"/><span class="red">'wheels'</span></h1>
		<a href="#" class="upper-case view-all"><span class="min-ipad">Showing 5 of 50 //</span> view all</a>
		<ul class="results-list search">
			<li>
				<i class="icons min-ipad"></i>
				<div class="result-info">
					<p class="result-title"><a href="#">Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<p class="result-title"><a href="#">Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<p class="result-title"><a href="#">Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<a href="#" class="upper-case">Back to all search results</a>
				</div>
			</li>
		</ul>
	</section>	

	<section class="structure--widget-holder">
		<%= partial "shared/widgets/widget-product-of-the-month" %>
	</section>
</section>
