---
title: Autoglym Search Results Two
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	<section class="structure--side-column">
		
	</section>
	
	<section id="normal--content" class="structure--main-column">
		<h1>Search Results for <br class="max-ipad"/><span class="red">'wheels'</span></h1>
		<ul class="search-results">
			<li>
				<i class="icons"></i>
				<p class="search-result"><a href="#"><span class="body-grey">20.</span> Pages found</a></p>
			</li>
			<li>
				<i class="icons products"></i>
				<p class="search-result"><a href="#"><span class="body-grey">20.</span> Products found</a></p>
			</li>
			<li>
				<i class="icons images"></i>
				<p class="search-result"><a href="#"><span class="body-grey">20.</span> Images found</a></p>
			</li>
			<li>
				<i class="icons videos"></i>
				<p class="search-result"><a href="#"><span class="body-grey">20.</span> Videos found</a></p>
			</li>
			<li>
				<i class="icons downloads"></i>
				<p class="search-result"><a href="#"><span class="body-grey">20.</span> PDF files found</a></p>
			</li>
		</ul>
	</section>	

	<section class="structure--widget-holder">
		<%= partial "shared/widgets/widget-product-of-the-month" %>
	</section>
</section>
