---
title: Autoglym Styleguide
---



<section class="structure--mainarea structure--content inline-list  clearfix">
	<section class="structure--side-column">
		<nav class="nav--sub-nav bg--grey">
            <ul>
                <li><a href="#" title="sub section">sub section</a></li>
                <li><a href="#" title="sub section">sub section</a></li>
                <li><a href="#" title="sub section">sub section</a></li>
            </ul>               
		</nav>
	</section>
	
	<section id="cms--content" class="structure--main-column">
			<h1 class="title--page">h1 style - Donec id elit non mi porta gravida at eget metus.</h1>
			<h2>h2 style - Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam.</h2>
			<h3>h3 style - Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam.</h3>
			<h4>h4 style - Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam.</h4>
			<h5>h5 style - This has a heavier weight as it is too small - Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam.</h5>
			<h6>h6 style - This has a heavier weight as it is too small - Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam.</h6>
			<p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
			<p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			<p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			<ul>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
			</ul>
			<ol>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
				<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
			</ol>
			<blockquote>
				<p>This is a block quote - Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			</blockquote>
	</section>

	<section class="structure--widget-holder">
		<aside class="widget">
			<div class="widget-content clearfix">
				<h2>PRODUCT OF THE MONTH</h2>
				<div itemscope itemtype="http://data-vocabulary.org/Product" class="product">
					<meta itemprop="currency" content="GBP" />
					<meta itemprop="brand" content="Autoglym" />
					<meta itemprop="category" content="Car Wash Solutions" />
					<img itemprop="image" src="img/widget-product.png" alt=""/>
					<h3 itemprop="name">Bodywork Shampoo Conditioner</h3>
					<h3 class="price">£<span itemprop="price">5.99</span></h3>
					<a href="#" class="btn">buy</a>
				</div>
			</div>
		</aside>		
	</section>
</section>
