---
title: Autoglym Valeting Bay Results
---



<section class="structure--mainarea structure--content valeting-bay clearfix">
	<div class="banner results grid--inline grid--thirds">
		<div class="grid--one-third grad--red no-margins alpha">
			<div class="panel">
				<img src="img/bay-text-small.png" alt="The valeting bay"/>
				<img class="logo" src="img/logo.png" alt="Autoglym"/>
			</div>
		</div>
		<div class="grid--two-thirds no-margins grad--dark-grey-inverted omega">
			<div class="panel--right">				
				<h4 class="title--bay">Tell us your question</h4>
				<div class="input-and-button grid--container grid--inline">
				
					<div class="grid--half alpha">
						<input type="text"/>
					</div>
					<div class="grid--half omega">
						<input class="btn" type="submit" value="Go"/>
					</div>
				</div>
				<p>From finding the correct Autoglym product to demonstration videos and advice on all aspects of caring for your car. Ask us anything, but car care is what we do best.</p>
			</div>
		</div>
	</div>
	<div id="normal--content">
		<h3 class="font-regular floatLeft">YOUR MATCHES</h3>
		<br class="max-ipad"/><br class="max-ipad"/>
		<p class="upper-case floatRight ipad results-stats">About 747 Results (0.21 seconds)</p>
		<h3 class="title--results">Can't find what you need? <br class="max-ipad"/> <a href="#">Let us know.</a></h3>
		<br class="max-ipad"/>
		<p>Mendi dolupturis aruptur maiorrum estio optatium nullabo rionsernam, cone preheni atquia conseque pa dolor abores ipist etur, que niam dende eum vel ipsustionse cus, ad et abor acit alit dolores quodite mper int, sit  et veror sae idic.</p>
		<br class="min-ipad"/>
	</div>
		<ul class="results-list">
			<li>
				<p class="title--matches red"><i class="icon-product max-ipad"></i>Product matches</p>
				<hr class="hr-solid hr-fullwidth min-ipad"/>

				<i class="icon-product min-ipad"></i>
				<a class="results-link results-stats" href="#"><span class="min-ipad">Showing 3 of 22 // </span>View all</a>
				<hr class="hr-solid max-ipad"/>
				<div class="result-info">
					<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
			</li>
			<li>
				<p class="title--matches red"><i class="icon-video max-ipad"></i>Product matches</p>
				<hr class="hr-solid hr-fullwidth min-ipad"/>

				<i class="icon-video min-ipad"></i>
				<a class="results-link results-stats" href="#">Showing 3 of 22 // View all</a>
				<hr class="hr-solid max-ipad"/>
				<div class="grid--half grid--one">
					<div class="result-info">
						<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
						<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
					</div>
					<div class="result-info">
						<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
						<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
					</div>
					<div class="result-info">
						<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
						<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
					</div>
				</div><!-- END grid-half -->
				<div class="grid--half grid--two">
					<div class="result-info">
						<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
						<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
					</div>
					<div class="result-info">
						<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
						<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
					</div>
					<div class="result-info">
						<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
						<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
					</div>
				</div><!-- END grid-half -->
			</li>
			<li>
				<p class="title--matches red"><i class="icon-page max-ipad"></i>Page matches</p>
				<hr class="hr-solid hr-fullwidth min-ipad"/>

				<i class="icon-page min-ipad"></i>
				<a class="results-link results-stats" href="#"><span class="min-ipad">Showing 3 of 22 // </span>View all</a>
				<hr class="hr-solid max-ipad"/>
				<div class="result-info">
					<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
				<div class="result-info">
					<p class="result-title"><a href="#" >Autoglym guide to washing your car  //  The Valeting Bay</a></p>
					<p>Ensuring perfect results when washing your car is a lot easier than you think, especially when using the two bucket method...</p>
				</div>
			</li>
		</ul>

	
</section>
