---
title: Autoglym Valeting Bay
---



<section class="structure--mainarea structure--content valeting-bay clearfix">
	<div class="banner grid--inline grid--thirds">
		<div class="grid--one-third grad--red no-margins alpha">
			<div class="panel">
				<img src="img/bay-text.png" alt="The valeting bay"/>
				<img class="logo" src="img/logo.png" alt="Autoglym"/>
			</div>
		</div>
		<div class="grid--two-thirds no-margins grad--dark-grey-inverted omega">
			<div class="panel--right">
				<h1>Welcome to The Valeting Bay</h1>
				<p>From finding the correct Autoglym product to demonstration videos and advice on all aspects of caring for your car. Ask us anything, but car care is what we do best.</p>
				<h4 class="title--bay">Tell us your question</h4>
				<div class="input-and-button grid--container grid--inline">
					<div class="grid--half alpha">
						<input type="text"/>
					</div>
					<div class="grid--half omega">
						<input class="btn" type="submit" value="Go"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="structure--content">
		<h4 class="title--bay">See our most popular content below.</h4>
	</div>
	<div class="structure--wrapper">
		<div class="widget--expander">
			<div class="widget-content">
				<p class="title--expander upper-case">Videos</p>
				<a class="top-right-link" href="#">View all</a>
				<hr/>
				<div class="expander-content has-videos on-perm">
					<ul class="video-list">
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							<img src="img/video-thumb.jpg" alt=""/>
							<a class="video-link" href="#" title="video title"><img src="img/video-arrow.png" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
					</ul>

				</div>
			</div>
		</div><!-- END - widget-expander -->

		<div class="widget--expander">
			<div class="widget-content">
				<p class="title--expander upper-case">Guide sheets</p>
				<a class="top-right-link" href="#">View all</a>
				<hr/>
				<div class="expander-content on-perm">
					<ul class="video-list">
						<li>
							<a class="video-link" href="#" title="video title"><img src="img/video-thumb.jpg" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
							
							<a class="video-link" href="#" title="video title"><img src="img/video-thumb.jpg" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
								<a class="video-link" href="#" title="video title"><img src="img/video-thumb.jpg" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
						<li>
								<a class="video-link" href="#" title="video title"><img src="img/video-thumb.jpg" alt=""/></a>
							<a class="video-link-title" href="#">Video title</a>
						</li>
					</ul>

				</div>
			</div>
		</div><!-- END - widget-expander -->
		<div class="grid--container grid--thirds">
			<div class="grid--two-thirds grid--one alpha">
				<div class="widget--faqs">
					<div class="widget-content">
						<h2>Common questions</h2>
						<ul class="faq-list">
							<li class="reveal"><a class="reveal-link" href="#">General</a>
								<ul>
									<li><a href="#">What kind of towel should I be using to dry my car prior to final waxing?</a></li>
								   	<li><a href="#">How often should I wax my car?</a></li>
								   	<li><a href="#">How can I protect my alloy wheels against brake dust and other road contaminants?</a></li>
									<li><a href="#">What should I use to keep my leather seats looking like new?</a></li>
								</ul>
							</li>
							<li class="reveal"><a class="reveal-link" href="#">General</a>
								<ul>
									<li><a href="#">What kind of towel should I be using to dry my car prior to final waxing?</a></li>
								   	<li><a href="#">How often should I wax my car?</a></li>
								   	<li><a href="#">How can I protect my alloy wheels against brake dust and other road contaminants?</a></li>
									<li><a href="#">What should I use to keep my leather seats looking like new?</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div class="grid--one-third grid--two omega">
				<%= partial "shared/widgets/widget-product-of-the-month" %>
			</div>
		</div>


	</div>
</section>
