---
title: Autoglym Where to buy
---



<section id="normal--content" class="structure--mainarea structure--content inline-list  clearfix">
	
	<div class="grid--holder">
		<div class="grid--half grid--one">
				<h1>Where to buy</h1>
				
				<div class="widget--generic">
					<div class="widget-content less-padding">
						<form action="post">
							<label for="">Search by postcode, town or city</label>
							<div class="input-and-button grid--container grid--inline">
								<div class="grid--half alpha">
									<input type="text"/>
								</div>
								<div class="grid--half omega">
									<input class="btn" type="submit" value="Search"/>
								</div>
							</div>
						</form>
					</div>
				</div>

				<h4>Your nearest retailer is...</h4>

				<ul class="media--list address">
					<li class="media--item  no-borders">
						<div class="media--image">
							<img src="img/logo-tiny.png" alt=""/>
						</div>
						<div class="media--text">
							<p><span class="body-grey">Store Name Here</span><br/>
							10, Guernsey Road, Queens Road,<br/>
							Sheffield, South Yorkshire, S2 4HG<br/>
							<a class="info" href="tel:+44114 2551096">Tel. 0114 2551096</a></p>
							
						</div>
						<div class="media--info">
							<span class="info">1.12miles</span>
							<a href="#" class="min-ipad">View Details</a>

							<a href="#" class="btn max-ipad">View Details</a>
						</div>
					</li>
				</ul>
				<hr class="hr-solid max-ipad"/>
				<h4>Other retailers are...</h4>

				<ul class="media--list address">
					<li class="media--item">
						<div class="media--image">
							<img src="img/tag-autoglym.png" alt=""/>
						</div>
						<div class="media--text">
							<p><span class="body-grey">Store Name Here</span><br/>
							10, Guernsey Road, Queens Road,<br/>
							Sheffield, South Yorkshire, S2 4HG<br/>
							<a class="info" href="tel:+44114 2551096">Tel. 0114 2551096</a></p>
							
						</div>
						<div class="media--info">
							<span class="info">1.12miles</span>
							<a href="#" class="min-ipad">View Details</a>

							<a href="#" class="btn max-ipad">View Details</a>
						</div>
					</li>
					<li class="media--item">
						<div class="media--image">
							<img src="img/logo-tiny.png" alt=""/>
						</div>
						<div class="media--text">
							<p><span class="body-grey">Store Name Here</span><br/>
							10, Guernsey Road, Queens Road,<br/>
							Sheffield, South Yorkshire, S2 4HG<br/>
							<a class="info" href="tel:+44114 2551096">Tel. 0114 2551096</a></p>
							
						</div>
						<div class="media--info">
							<span class="info">1.12miles</span>
							<a href="#" class="min-ipad">View Details</a>

							<a href="#" class="btn max-ipad">View Details</a>
						</div>
					</li>
				</ul>
		</div>	
		<div class="grid--half grid--two">
			<iframe class="bottom-margin" width="100%" height="448" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=uk&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=46.14027,60.029297&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;z=5&amp;ll=55.378051,-3.435973&amp;output=embed"></iframe><br /><small></small>
			<div class="widget--generic">
					<div class="widget-content less-padding">
						<img class="tag" src="img/tag-autoglym.png" alt=""/>
						<h3 class="underline indent-left">Elite Stockist</h3>
						<br/>
						<h5>Store name in this area</h5>
						<div class="grid--container inline-list">			
							<div class="grid--half grid--one">
								<p>1.12 miles</p>
								<p>10, Guernsey Road,<br/> Queens Road,
								Sheffield, South Yorkshire, S2 4HG</p>
								<a href="tel:+44114 2551096">Tel. 0114 2551096</a>
							</div>
							<div class="grid--half grid--two">
								<img src="img/halfords.jpg" alt=""/>
							</div>
						</div>
						
					</div>
				</div>
		</div>
	</div>

	<div class="grid--holder">
		<div class="grid--half grid--one">
			<div class="widget--red">
				<img src="img/widget-bay.png" alt=""/>
			</div>
		</div>
		<div class="grid--half grid--two">
					<%= partial "shared/widgets/widget-product-of-the-month" %>

		</div>
	</div>
</section>
